$font_serif: 'Merriweather', serif
$font_sans_serif: 'Montserrat', sans-serif

$color_white: #ffffff
$color_primary: #00ADEE
$color_secondary: #00558E
$color_thirdary: #6DCEF5
$color_black: #000
$color_grey: #F5F4F5
$color_dark: #414042
$color_bolder_grey: #B4B4B4
$color_lighter_grey: #DFE5E6
$color_border_grey: #CCCCCC
$color_team_title: #5E809C
$color_red_primary: #FF3B6E
$color_red_secondary: #FF5331
$color_subtite_grey: #939598