.button
    display: inline-block
    padding: 1.5em 4em
    border: solid 1px
    font-weight: 500
    border-radius: 0
    transition: .3s
    cursor: pointer
    font-size: 0.8em
    &:hover
        text-decoration: none

    // modifiers
    &__icon
        display: inline-block
        background-position: center
        vertical-align: middle
        position: relative
        bottom: 1px
        background-image: url('../media/img/icon/arrow_right.png')
        width: 20px
        height: 16px
        background-size: contain
        background-repeat: no-repeat
        margin-left: 1em
        transform: scale(1.5)
    &_has-icon
        .button__icon
            transition: .2s
            left: 0
        &:hover
            .button__icon
                left: 10px
    // themes
    &_theme_white
        border-color: $color_white
        color: $color_white
        &:hover
            background-color: $color_white
            color: $color_dark
    &_theme_primary
        border-color: $color_primary
        background: $color_primary
        color: $color_white
        &:hover
            background: none
            color: $color_primary
            border-color: $color_primary
    &_theme_secondary
        border-color: $color_secondary
        background: $color_secondary
        color: $color_white
        &:hover
            background: none
            color: $color_secondary
            border-color: $color_secondary
    &_theme_thirdary
        border-color: $color_thirdary
        background: $color_thirdary
        color: $color_white
        &:hover
            background: none
            color: $color_thirdary
            border-color: $color_thirdary
    &_theme_dark
        border-color: $color_dark
        background: $color_dark
        color: $color_white
        &:hover
            background: none
            color: $color_dark
    &_theme_red_primary
        border-color: $color_red_primary
        background: $color_red_primary
        color: $color_white
        &:hover
            background: none
            color: $color_red_primary
    &_theme_no-border
        border: none
        padding: 0
        box-shadow: none
    &_theme_outline
        border: solid 2px $color_secondary
    &_theme_outline_white
        border: solid 1px $color_white
        color: $color_white

.button-wrap
    .button:not(last-child)
        margin-right: 2em

@media screen and ( max-width: 767px )
    .button
        padding: 0.5em 1.5em
        &__icon
            margin-left: 6px