.button
    display: inline-block
    padding: 0.5em 2em
    border: solid 1px
    font-weight: 500
    border-radius: 5px
    transition: .3s
    box-shadow: 0 0 5px rgba(0,0,0,.1)
    cursor: pointer
    &:hover
        text-decoration: none

    // modifiers
    &__icon
        width: 1.4em
        height: 1em
        background-size: contain
        margin-left: 10px
        background-repeat: no-repeat
        display: inline-block
        background-position: center
        vertical-align: middle
        position: relative
        bottom: 1px
        &_color_dark
            background-image: url('../media/img/icons/button_icon_dark.png')
        &_color_primary
            background-image: url('../media/img/icons/button_icon_primary.png')
        &_type-prev-primary
            background-image: url('../media/img/icons/button_icon_prev_primary.png')
            margin-right: 6px
            margin-left: 0
        &_type-next-primary
            background-image: url('../media/img/icons/button_icon_next_primary.png')
    &_has-icon
        .button__icon
            transition: .2s
            left: 0
        &:hover
            .button__icon
                left: 10px
    // themes
    &_theme_white
        border-color: $color_white
        color: $color_white
        &:hover
            background-color: $color_white
            color: $color_dark
    &_theme_primary
        border-color: $color_primary
        background: $color_primary
        color: $color_white
        &:hover
            background: none
            color: $color_primary
            border-color: $color_primary
    &_theme_dark
        border-color: $color_dark
        background: $color_dark
        color: $color_white
        &:hover
            background: none
            color: $color_dark
    &_theme_no-border
        border: none
        padding: 0
        box-shadow: none

@media screen and ( max-width: 767px )
    .button
        padding: 0.5em 1.5em
        &__icon
            margin-left: 6px