.charity
    .row,
    .col-xs-12
        padding: 0
    .row
        display: flex
    &__banner
        height: 100%
    &__banner-img
        display: none
        width: 100%
        height: 100%
        object-fit: cover
    &__title
        font-weight: 500
        color: $color_dark
        font-size: 1.4em
        b
            font-weight: 900
            color: $color_secondary
            font-size: 1.2em
            margin-right: 0.5em
    &__description
        color: $color_dark
        font-weight: 300
        letter-spacing: 3px
        line-height: 1.8em
        max-width: 33em
        font-size: 0.8em
    &__content
        padding-bottom: 1.5em
        background-color: $color_grey
        height: 100%
    &__content-wrap
        padding: 1.5em 3em
        .button
            padding: 1.6em 4em
            font-size: 0.8em
        &_bg_secondary
            background-color: $color_secondary
        &:hover
            text-decoration: none
            color: $color_primary
    &__checkbox-wrap
        display: inline-block
    &__checkbox-input
        margin-right: 5px!important
    &__logos
        opacity: 0.5
        margin-bottom: 2em
        max-width: 400px
        display: block
    &__step
        display: none
        padding-top: 1em
        .form__input
            &:last-child
                margin-bottom: 0!important
            label.main
                display: none
            &_type_text
                input
                    padding: 0.7em 1em!important
                    font-size: 0.8em!important
                    display: block
                    width: 100%!important
                    border: none!important
                    background-color: $color_white!important
            .field_error
                position: absolute
                padding: 0.5em 0
                margin: 0
                bottom: 0
                transform: translateY(100%)
                font-style: italic
                font-weight: 400
                font-size: 0.7em
                color: red
            &.error
                position: relative
                margin-bottom: 2.5em!important
    &__step-1
        .form__input
            &_type_text
                display: inline-block
                width: 50%
            &_type_checkbox
                display: inline-block
                .options_wrap label .checkbox_label
                    letter-spacing: 3px
                    display: inline
                    font-size: 0.8em
                    color: $color_white!important
                    font-weight: 300!important
        .charity
            &__form-link
                font-size: 0.8em
                color: $color_white
                font-weight: 300
            &__form-link
                padding: 0 2em
    &__step-2
        .charity
            &__contact-form
                padding-top: 0
                max-width: 500px
            &__contact-form-buttons
                margin-top: 2em
        .form__input
            border: solid 1px $color_bolder_grey
            &:not(:last-child)
                margin-bottom: 1em
    &__step-3
        .charity
            &__buy-or-sell
                padding-top: 0
            &__content-buttons
                margin-top: 2em
        .form__input
            .options_wrap label
                display: block
    &__step-selector
        padding: 1.5em 0
        padding-left: 5em
        background-color: $color_white
    &__step-selector-wrap
        position: relative
        display: inline-block
        margin-bottom: 20px
        &::before
            content: ''
            display: block
            width: 100%
            top: 12px
            height: 2px
            background-color: $color_black
            position: absolute
            z-index: 0
    &__step-selector-item
        position: relative
        display: inline-block
        &:not(:last-child)
            margin-right: 140px
    &__step-title
        position: absolute
        width: 140px
        left: -55px
        text-align: center
        text-transform: uppercase
        font-size: 0.8em
        font-weight: 700
        color: $color_secondary
        margin-top: 8px
    &__step-number
        display: block
        width: 26px
        text-align: center
        line-height: 26px
        font-weight: 700
        border-radius: 4px
        background-color: $color_primary
        color: $color_white
        background-position: center
        background-repeat: no-repeat
    
    &_step_1
        .charity
            &__step-1,
            &__banner-img_step-1
                display: block
            &__step-number_number-1
                background-color: $color_secondary
    &_step_2
        .charity
            &__step-2,
            &__banner-img_step-2
                display: block
            &__step-number_number-2
                background-color: $color_secondary
            &__step-number_number-1
                background-image: url('../media/img/icon/check.png')
                span
                    opacity: 0
    &_step_3
        .charity
            &__step-3,
            &__banner-img_step-3
                display: block
            &__step-number_number-3
                background-color: $color_secondary
            &__step-number_number-1,
            &__step-number_number-2
                background-image: url('../media/img/icon/check.png')
                span
                    opacity: 0
    &_step_4
        .charity
            &__step-4,
            &__banner-img_step-4
                display: block
            &__step-number_number-4
                background-color: $color_secondary

@media screen and ( max-width: 768px )
    .charity
        .row
            display: block
            margin: 0 -15px
            overflow: hidden
        &__banner
            height: 20em
        &__steps
            &::before
                display: none
        &__input-wrap,
        &__form-link
            width: 100%
        &__input-wrap
            margin-bottom: 5px
        &__form-link
            padding: 0
        &__checkbox-wrap
            float: right
        &__title
            b
                display: block
                margin-bottom: .5em
        &__logos
            max-width: 100%
        &__content-wrap
            padding: 2em 15px