.community
    &__item-wrap
        padding: 3em 0
        padding-left: 6em
    &__item
        text-align: left
        &:not(:last-child)
            margin-bottom: 2em
    &__item-image
        display: inline-block
        vertical-align: middle
        margin-right: 1em
    &__item-description
        display: inline-block
        color: $color_white