.footer
    padding: 1.5em 0
    &__bottom-text
        text-align: left
        padding: 0
        line-height: 2.4em
        font-weight: 300
        font-size: 0.9em
    #logo
        padding: 0
        margin: auto
        display: inline-block

@media only screen and (max-width: 960px)
    .footer
        #logo
            width: 80%
        &__bottom-text
            font-size: 0.8em

@media only screen and (max-width: 767px)
    .footer
        &__bottom-text
            text-align: center