.footer
    padding: 1.5em 0
    &__bottom-text
        text-align: left
        padding: 0
        line-height: 2.4em
        font-weight: 300
        font-size: 0.9em
    #logo
        padding: 0
        margin: auto
        display: block