.home-search
    display: block
    margin: auto
    text-align: center
    &__tabs
        display: block
        overflow: hidden
    &__tab-item
        padding: 0.6em 4em
        width: calc(50% - 1px)
        color: $color_white
        font-weight: 300
        font-size: 1.1em
        display: inline-block
        background: rgba(0, 0, 0, .5)
        float: left
        &:first-child
            margin-right: 2px
    &__input-wrap
        background: rgba(0, 0, 0, .5)
        padding: 0.8em
    &__input
        display: block
        width: 100%
        line-height: 1.6em
        padding: 0 1em