.home-process
    &__item-wrap
        margin-top: 3em
        margin-bottom: 2em
    &__item
        text-align: center
    &__item-title
        font-weight: 500
        font-size: 1.5em
        margin-bottom: 1em
    &__item-image
        max-width: 4em
    margin-bottom: 2.5embo
    &__item-subtitle
        font-weight: 300
        font-size: 1.2em
        letter-spacing: 2px
        display: block
        margin: auto
        padding: 0 1em
        line-height: 1.4em
    &__item-description
        margin-top: 1em
        font-size: 0.9em
        line-height: 1.5em