.home-process
    &__item-wrap
        margin-top: 3em
        margin-bottom: 2em
        background-image: url('../media/img/banner/processes.png')
        padding: 35px 5px
        background-size: contain
        background-position: center
        background-repeat: no-repeat
    &__item
        text-align: center
        padding: 0 30px
    &__item-title
        font-weight: 500
        font-size: 1.5em
        margin-bottom: 1em
    &__item-image
        max-width: 4em
        margin-bottom: 1.5em
    &__item-subtitle
        font-weight: 300
        font-size: 1.2em
        letter-spacing: 2px
        display: block
        margin: auto
        padding: 0 1em
        line-height: 1.4em
    &__item-description
        margin-top: 1em
        font-size: 0.9em
        line-height: 1.5em