.referral
    background: $color_dark
    color: $color_white
    &__title
        color: $color_white
        font-weight: 500
        text-align: center
        font-size: 1.5em
        line-height: 1.5em
        margin-bottom: 2em
    &__description
        color: #727273
        text-align: center
        padding-bottom: 0.5em
        b
            color: $color_black
            span
                &::before
                    content: '|'
                    padding: 0 0.5em
    &__button-wrap
        margin-bottom: 1em
        text-align: center
        .button
            padding: 2em 3em
            font-size: 1em
            text-transform: unset
    &__form-wrap
        .referral__title
            color: $color_dark
            margin-bottom: 1em
        background-color: $color_grey
        padding: 2em 1.5em
        margin-bottom: 3em
    .form_element
            margin-bottom: 0em
            padding: 0.5em 1.2em
            textarea,
            input
                box-shadow: none!important
                background: none!important
                border: solid 1px #ccc!important
                padding: 0.4em 1em!important
                border-radius: 0!important
                background: $color_white!important
            &:not(.checkbox_element)
                label.main
                    display: none
            &.checkbox_element
                width: 100%
                text-align: center
                color: $color_dark
                padding-top: 2em
                padding-bottom: 0em
                margin-bottom: 0
                label.main
                    font-weight: 400
                    text-shadow: none
                    border-bottom: solid 1px #ccc
                    padding-bottom: 1em
            &.textarea_element
                textarea
                    min-height: 7em
    &__form-row
        &_size_half
            .form_element
                vertical-align: top
                display: inline-block
                width: 50%
                margin-bottom: 0.4em
        &_size_full
            .form_element
                display: block
                width: 100%
    &__break-line
        padding: 0 1.5em
        hr
            margin: 1em 0
    &__description-row
        text-align: center
        .referral__title
            margin-bottom: 1.5em
    // &__description-cols
    // &__description-line
    &__description-illustration
        margin-top: 3em
        background-image: url('../media/img/icon/love-hand.png')
        width: 100%
        max-height: 400px
        height: 280px
        background-size: 90%
        background-position: top
        background-repeat: no-repeat
    &__description-col-left
        width: 50%
        padding-right: 1em
        text-align: right
        color: $color_red_primary
        display: inline-block
    &__description-col-right
        width: 50%
        display: inline-block
        padding-left: 1em
        text-align: left
        color: $color_red_secondary

@media screen and ( max-width: 768px )
    .referral
        &__form-wrap
            margin-bottom: 0
            .referral__title
                padding: 0 2em
        &__wrap
            background: $color_grey
        &__description
            span
                display: block
                &::before
                    display: none
        &__description-col-left,
        &__description-col-right
            width: 100%
            padding: 0
            text-align: center
        &__description-col-left
            margin-bottom: 1em
        &__description-illustration
            background-size: 500px 210px
            height: 200px
            width: 300px
            display: block
            margin: auto
            margin-top: 3em
        &__form-row_size_half
            .form_element
                width: 100%
                padding: 0
                margin-bottom: 1.5em
                input
                    padding: 0.8em 1em!important
        &__button-wrap
            padding-bottom: 3em