.section
    padding: 3em 0

    // elements
    &__title
        font-size: 1.5em
        font-weight: 300
        color: $color_dark
        letter-spacing: 2px
        &_color_white
            color: $color_white
        &_theme_overline
            display: inline-block
            position: relative
            background: $color_white
            padding: 0 1em
            &::before
                content: ""
                position: absolute
                width: calc(100% + 10em)
                left: -5em
                top: 50%
                transform: translateY(-50%)
                background: $color_primary
                height: 1px
                z-index: -1
        &_size_small
            font-size: 1.3em
    &__sub-title
        font-size: 2em
        font-weight: 900
        font-family: $font_serif
        color: $color_dark
    &__description
        font-size: 1.2em
        line-height: 1.4em
        &_color_white
            color: $color_white
        &_color_grey
            color: $color_grey

    // background color
    &_bg_dark
        background-color: $color_dark
    &_bg_primary
        background-color: $color_primary
    &_bg_grey
        background-color: $color_grey
    &_bg_white
        background-color: $color_white

    // type error
    &_type_error
        color: $color_white
        .main_head
            font-weight: 700
            margin-bottom: 1em
            font-size: 1.5em


@media screen and ( max-width: 767px )
    .section
        &__title
            font-size: 2em