packages:
    yum:
        php70-zip: []
commands:
    01_apcu_bc_install:
        # run this command from /tmp directory
        cwd: /tmp
        # don't run the command if apc_bc is installed
        test: "php -r \"exit(extension_loaded('apc') ? 1 : 0);\""
        # executed only if test command succeeds
        command: |
            git clone https://github.com/krakjoe/apcu-bc \
            && cd apcu-bc \
            && phpize \
            && ./configure \
            && make \
            && make install
files:
    "/etc/php.d/project.ini" :
        mode: "000644"
        owner: root
        group: root
        content: |
            post_max_size = 32M
            max_input_vars = 3000
    "/etc/php.d/40-apcu.ini":
        mode: "000644"
        owner: root
        group: root
        content: |
            extension = apcu.so
            extension = apc.so
            apc.enabled=1
            apc.shm_size=1024M
            apc.ttl=7200
            apc.enable_cli=1
            apc.gc_ttl=7200
            apc.entries_hint=0
            apc.slam_defense=1
            apc.serializer=php