@import url('adv_icons.min.css');
*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-size: 14px;
    line-height: 1.2em;
    background-color: #fff;
    color:#7a7373;
    font-weight: 400;
}
body.login_layout{
    background: #7a7373;
    background: -webkit-linear-gradient(bottom, #6ca7da , #7a7373);
    background: -o-linear-gradient(top, #6ca7da, #7a7373);
    background: -moz-linear-gradient(top, #6ca7da, #7a7373);
    background: linear-gradient(to top, #6ca7da , #7a7373);
    background-attachment: fixed;
    overflow: auto;
}
body.gi_modal_open{
    overflow: auto;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}
h1 .title, h2 .title, h3 .title, h4, h5 .title, h6 .title{
    display: inline-block;
    vertical-align: middle;
}
h1, h2{
    margin-bottom: 1em;
    line-height: 1em;
}
h1{
   font-size: 1.7em;
}
h2{
    font-size: 1.36em;
}

h1.no_marg,
h2.no_marg{
    margin-bottom: 0.2em;
}
h1 .custom_btn, h2 .custom_btn, h3 .custom_btn, h4 .custom_btn, h5 .custom_btn, h6 .custom_btn{
    margin-left: 1em;
}
b, strong{
    font-weight: 700;
}

.float_right{
    float: right;
}

.float_left{
    float: left;
}

.clear{
    clear: both;
}

.thin{
    font-weight: 300;
}

.strike_through{
    text-decoration: line-through;
}

p,
ul,
ol,
blockquote,
dl{
    line-height: 1.2em;
    margin-bottom: 1em;
}

p:last-child,
ul:last-child,
ol:last-child,
blockquote:last-child,
dl:last-child{
    margin-bottom: 0;
}

ul,
ol{
    margin-left: 1em;
}

blockquote{
    text-indent: 1em;
    border-left: 2px solid #6ca7da;
    background: #f0f0f0;
    padding: 0.5em;
}

dl dd{
    text-indent: 1em;
}

.inline_block{
    display: inline-block;
    vertical-align: middle;
}

pre{
    padding: 0.5em;
    white-space: pre-wrap;
    overflow: auto;
    letter-spacing: 0.2em;
}

pre, pre *{
    font-family: monospace !important;
    line-height: 1.2em !important;
}

sup, sub{
    font-size: 0.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

.powered_by_gi{
    display: block;
    margin: 0.5em auto;
    width: 100%;
    height: 42px;
    background: url(images/powered_by.png) no-repeat center;
    background-size: 152px 42px;
}
.left_align{
    text-align: left;
}

.center_align{
    text-align: center;
}

.right_align{
    text-align: right;
}

.circle{
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

h1.give_me_space,
h2.give_me_space,
h3.give_me_space,
h4.give_me_space,
h5.give_me_space,
h6.give_me_space{
    margin-bottom: 2.5em;
}

h3{
    font-size: 1.29em;
    line-height: 1em;
    margin-bottom: 1em;
}

h3 .custom_btn{
    font-size: 0.8em;
    line-height: 1.2em;
}
.gi_modal h2{
    font-size: 1.2em;
    line-height: 1em;
}
.gi_modal h2.main_head{
    font-size: 1.3em;
    line-height: 1em;
}
.gi_modal .view_header h2.main_head{
    font-size: 1em;
}
.gi_modal h3{
    font-size: 1em;
    margin-bottom: 0.5em;
    line-height: 1.2em;
}

h4{
    font-size: 1em;
}

h5{
    font-size: 0.8em;
}

h6{
    font-size: 0.6em;
}

h4,
h5,
h6{
    line-height: 1em;
    margin-bottom: 1em;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child{
    margin-bottom: 0;
}

.section_title{
    text-align: center;
}

h2.section_title{
    font-size: 3em;
}

.advanced h2{
    transition: margin;
    -webkit-transition: margin;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.advanced:not(.open) h2{
    margin-bottom: 0;
}

.advanced{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.advanced.open{
    border-bottom: 0;
}
.advanced:first-child{
    margin-top: 1em;
}
.advanced:last-child{
    margin-bottom: 0;
}
.advanced_content .advanced{
    border-bottom: 0;
}
.advanced_title{
    color:#5e5e5e;
}
.advanced_title.advanced_btn{
    cursor: pointer;
}
.advanced_header{
    padding-top: 8px;
    padding-bottom: 8px;
}
.advanced_header:after{
    content:"";
    clear:both;
    display: table;
}
.advanced_header .advanced_btn_wrap{
    float: right;
}
.advanced_btn_wrap .custom_btn{
    margin-right: 1em;
}
.advanced_btn_wrap .custom_btn:last-child{
    margin-right: 0;
}
.advanced_btn_wrap .custom_btn.link_btn{
    display: none;
}
.advanced.open .advanced_btn_wrap .custom_btn.link_btn{
    display: inline-block;
}
.advanced_title .svg_icon svg *{
    fill:#6ca7da;
}
.advanced_content {
    padding: 1.5em 1em 1em 1em;
    border: 1px solid rgba(0,0,0,0.2);
    transition: margin;
    -webkit-transition: margin;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    display: none;
}

.advanced.open .advanced_content{
    margin-top: 0.5em;
}

.half_padding_top_content .advanced_content{
    padding-top: 0.5em;
}
.content_group_title_block{
    margin-bottom: 2em;
}
.content_group_title_block:after{
    content:"";
    display: table;
    clear: both;
}
.advanced .advanced_header + .advanced_content > h3{
    font-size: 1.1em;
    color: #5e5e5e;
}
.advanced .advanced_header + .advanced_content .has_filter h2,
.advanced .advanced_header + .advanced_content .has_filter h3{
    margin-top: 0.18em;
}
.advanced .advanced_header + .advanced_content .has_filter .main_head .filter_wrap {
    margin-top: 1em;
}
h2.content_block_title
,h3.content_block_title{
    font-size: 1.29em;
    color: #5e5e5e;
}
#main_window_view_wrap .advanced.has_right_btns > .advanced_content {
    padding-top: 70px;
    position: relative;
}
#main_window_view_wrap .advanced.has_right_btns > .advanced_content:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 35px;
    background-color: rgba(94,94,94, 0.1);
}
#main_window_view_wrap .advanced.has_right_btns  > .advanced_content > .right_btns
,#main_window_view_wrap .advanced.has_right_btns > .advanced_content > .view_wrap > .right_btns
,#main_window_view_wrap .advanced.has_right_btns > .advanced_content > .view_header > .right_btns
,#main_window_view_wrap .advanced.has_right_btns > .advanced_content > .shipments_section > .right_btns
,#main_window_view_wrap .advanced.has_right_btns > .advanced_content > .ajaxed_contents > .right_btns{
    z-index: 9;
    position: absolute;
    right: 15px;
    top: 13px;
    float: none;
    margin-bottom: 0;
}
#main_window_view_wrap .advanced_content > .right_btns{
    margin-bottom: 0.5em;
}
.advanced_content .content_block_title
,.left_label_content .content_block_title{
    display: inline-block;
    color: #5e5e5e;
    width: 40%;
    vertical-align: top;
    font-size: 1em;
    font-weight: 700;
    padding-top: 0;
    margin-bottom: 0;
}
.content_group {
    margin-bottom: 2em;
}
.content_group_title
,.content_group_title_block .content_block_title
,.content_group_title_block .form_element label.main{
    font-size: 1.2em;
    font-weight: 700;
    color: #505050;
    display: block;
    width: 100%;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 0.5em;
}
.advanced_content .table_header{
    text-align: left;
    color: #a0a0a0!important;
    text-transform: uppercase!important;
    font-size: 0.9em!important;
    background-color: #fff;
    margin-bottom: 0;
}
.advanced_content .table_header .table_cell{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
} 
.advanced_content .content_block_title + .content_block
,.left_label_content .content_block_title + .content_block
,.advanced_content .content_block_title + .content_block_list
,.left_label_content .content_block_title + .content_block_list{
    display: inline-block;
    width: 60%;
    font-size: 1em;
    padding-top: 0;
    background: none;
} 

.advanced_content .table_row{
    background-color: #f5f5f5;
}
.advanced_content .table_row:nth-child(even){
    background-color: #fff;
}
.advanced_content .table_row .table_cell{
    padding-top: 0.93em;
    padding-bottom: 0.93em;
}
.advanced_content .table_row .table_cell.first_cell{
    padding-left: 0.93em;
}
.advanced_content .table_row .table_cell .no_model_message{
    padding: 0!important;
    background-color:transparent;
}
/***STATUS BOXES***/
.status_box{
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 1em;
    padding: 0.3em 0.5em;
    cursor: default;
    background: #505050;
    margin-bottom: 0.2em;
    color: #fff !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 1px 1px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 1px 1px;
    box-shadow: rgba(0,0,0,0.5) 0px 1px 1px;
    font-weight: 700;
}

.status_box:last-child{
    margin-bottom: 0;
}

.status_box.gray{
    background: #505050;
    color: #fff !important;
}

.status_box.red{
    background: #d9392e;
    color: #fff !important;
}

.status_box.yellow{
    background: #d9962e;
    color: #fff !important;
}

.status_box.green{
    background: #409c40;
    color: #fff !important;
}

.status_box.blue{
    background: #40779c;
    color: #fff !important;
}

.sub_status{
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8em;
    vertical-align: middle;
    line-height: 1em;
    margin-top: -0.4em;
    cursor: default;
}

.sub_status .icon_wrap,
.sub_status .status_label{
    display: inline-block;
    vertical-align: middle;
}

.sub_status .icon_wrap:first-child{
    margin-right: 0.2em;
}

.sub_status .icon_wrap:last-child{
    margin-left: 0.2em;
}

.sub_status:before,
.sub_status:after{
    display: inline-block;
    font-size: 1.2em;
    font-weight: 700;
}

.sub_status:before{
    content: '[';
    margin-right: 0.1em;
}

.sub_status:after{
    content: ']';
    margin-left: 0.1em;
}

.proxima,
.proxima *{
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.highlighted{
    transition: background;
    -webkit-transition: background;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    background: #ff9 !important;
}
a{
    color:#6294bd;
    font-weight: 600;
    text-decoration: none;
    transition: color;
    -webkit-transition: color;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}
a:focus,
a:hover{
    color:#3c6688;
}
p a{
    color: #6ca7da;
    font-weight: 600;
}
p a:hover{
    color:#3c6688;
    text-decoration: underline;
}
p a:focus{
    position: relative;
}
p a:focus:before{
    content: '';
    display: block;
    position: absolute;
    border: 1px dashed rgba(0,0,0,0.2);
    top: -2px;
    bottom: -2px;
    left: -4px;
    right: -4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.non_anchor_link{
    cursor: pointer;
}
/***** Layout ******/
.bos_loader,
.bos_loader:after,
.bos_loader:before{
    background-image: url('images/bos_logo.png');
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    content: '';
    display: block;
}
.bos_loader:before{
    background-image: url('images/bos_logo.png');
}
.bos_loader:before{
    background-color: #000;
    background-image: url('images/bos_glow.gif');
    z-index: -1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
#page{
    position: relative;
}
/***ICONS***/
.svg_icon svg *{
    fill: #6ca7da;
}
.svg_icon.white svg *{
    fill: #fff;
}
.svg_icon.light_gray svg *{
    fill: #ccc;
}
.svg_icon.gray svg *{
    fill: #808080;
}
.svg_icon.dark_gray svg *{
    fill: #555;
}
.svg_icon.black svg *{
    fill: #000;
}
.svg_icon.green svg *{
    fill: #409c40;
}
.svg_icon.red svg *{
    fill: #d9392e;
}
.svg_icon.yellow svg *{
    fill: #d9962e;
}
.svg_icon.blue svg *{
    fill: #40779c;
}
.icon_wrap .svg_icon{
    position: relative;
    display: block;
    vertical-align: baseline;
}
.svg_icon.sml{
    font-size: 0.65em;
    line-height: 1em;
}
/***BUTTONS***/
.ac_results li, .ac_list li, .selectric-items li{
    background-color: #f1f1f1;
}
.ac_remove.custom_btn{
    top: 0.2em;
}
.custom_btn .icon_wrap{
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;    
    transition: border;
    -webkit-transition: border;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    margin-right: 0.5em;
}
.custom_btn .svg_icon{
    margin-right: 0.5em;
}
.custom_btn .btn_text .svg_icon{
    margin-right: 0;
    margin-left: 0.5em;
}
.custom_btn .svg_icon:only-child{
    margin-right: 0;
}
.ac_remove.custom_btn .icon_wrap{
    border: 0 !important;
    background-color: transparent !important;
}
.ac_remove.custom_btn .icon_wrap > .icon.remove_sml{
    background-position: -261px -126px;
}
.custom_btn.gray,
.custom_btn.disabled{
    color: #505050;
}

.custom_btn.gray .icon_wrap,
.custom_btn.disabled .icon_wrap,
.custom_btn.disabled:hover .icon_wrap{
    background: #505050;
}

.custom_btn:hover .icon_wrap,
.custom_btn:focus .icon_wrap{
    border: 2px solid #6294bd;
}
.ac_remove.custom_btn:hover  .icon_wrap
.ac_remove.custom_btn:focus .icon_wrap{
    border: 0;
}
.custom_btn .icon_wrap.border{
    border: 2px solid rgba(0,0,0,0.2);
    transition: border;
    -webkit-transition: border;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    padding: 6px;
}

.custom_btn:not(.gray) .icon_wrap.border{
    background-color: #fff;
}

.custom_btn:not(.disabled):hover .icon_wrap.border{
    border-color: rgba(0,0,0,0.4);
}
.icon_wrap.white_icon,
.custom_btn .icon_wrap.white_icon {
    background-color: #6ca7da !important;
}
.custom_btn .icon_wrap.no_bg{
    background: transparent;
}
.custom_btn.disabled{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    cursor: default;
}
.right_btns{
    float: right;
    position: relative;
    z-index: 9;
}
.view_body > .right_btns{
    position: absolute;
    right: 30px;
    top: 15px;
    z-index: 9;
}
.right_btns .custom_btn{
    margin-left: 1.5em;
}
.right_btns .custom_btn:first-child{
    margin-left: 0;
}
.columns .content_block + .right_btns{
    position: absolute;
    right: 15px;
    top: 12px;
}
.right_btns.absolute{
    position: absolute;
    right: 2.14em;
    z-index: 100;
}
.custom_btn{
    font-weight: 600;
    color: #6294bd;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.custom_btn .btn_text,
.custom_btn .icon_wrap,
.custom_btn .icon,
.advanced_btn .btn_text,
.advanced_btn .icon_wrap,
.advanced_btn .icon{
    display: inline-block;
    vertical-align: middle;
}
.custom_btn .btn_text{
    white-space: nowrap;
}
.btn_text + .icon,
.btn_text + .icon_wrap{
    margin-left: 0.5em;
}
.icon_btn{
    position: relative;
}
.icon_btn .icon{
    position: absolute;
    left: 0.6em;
    top: 50%;
    margin-top: -6px;
}
.icon_btn .btn_text{
    margin-left: 17px;
    display: block;
}
.icon_btn.right_icon .icon{
    left: auto;
    right: 0.6em;
}
.icon_btn.right_icon .btn_text{
    margin-left: 0;
    margin-right: 17px;
}
.custom_btn.right_icon .icon_wrap{
    margin-left: 0.5em;
    margin-right: 0;
}
.custom_btn.gray .icon_wrap,
.custom_btn.disabled .icon_wrap,
.custom_btn.disabled:hover .icon_wrap{
    background: #808080;
}
.custom_btn .icon_wrap:last-child{
    margin-right: 0;
}
.custom_btn .icon_wrap .icon{
    display: block;
}
.custom_btn:hover .icon_wrap,
.custom_btn:focus .icon_wrap{
    background: #3c6688;
}
.custom_btn.no_text .icon_wrap{
    margin-right: 0;
}
.custom_btn.no_bg .icon_wrap{
    background: none;
}
.custom_btn.submit_btn{
    border: none;
    background: none;
    padding: 0;
    font-size: 1em;
}
/***MAIN HEAD***/
h2.main_head,
.step_title{
    font-size: 1.7em;
    line-height: 1em;
}
.main_head .svg_icon,
.step_title .svg_icon{
    margin-right: 0.2em;
    font-size: 1.5em;
    line-height: 0em;
    margin-top: -0.15em;
}
/***FULLSCREEN***/
#toggle_fullscreen{
    position: absolute;
    top: 0;
    width: 40px;
    border-left: 1px solid #d5d5d5;/*004066*/
    border-right: 1px solid #fff;/*38769c*/
    height: 100%;
    left: 0px;
    cursor: pointer;
}
#toggle_fullscreen:before, #toggle_fullscreen:after{
    height: 100%;
    position: absolute;
    width: 1px;
    content: '';
    display: block;
}
#toggle_fullscreen:before{    
    left: -2px;    
/*    background: #fff;*/
}
#toggle_fullscreen:after{    
    right: -2px;    
    background: #d5d5d5;    
}
#toggle_fullscreen .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
}
/*********************/
.hide_on_load{
    display: none;
}
/***LOADING***/
#page_loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff url('images/input_loader.gif') no-repeat center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 99999;
    display: none;
}
.gear_wrap{
    padding: 2.14em;
    text-align: center;
    color: #808080;
    font-size: 1.29em;
}
.gears{
    width: 140px;
    height: 140px;
    background: url('images/gears.gif') no-repeat;
    background-size: 140px 140px;
    background-position: center;
    margin: auto;
    margin-bottom: 10px;
}
/***FLEX***/
.flex_table{
    margin-bottom: 1em;
    position: relative;
}

.flex_table:last-child{
    margin-bottom: 0;
}

.flex_row
,.flex_content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex_row:before,
.flex_row:after,
.flex_content:before,
.flex_content:after{
    content: normal; /** To fix Safari bug with flex-wrap **/
}

.flex_row.reverse{
    flex-direction: row-reverse;
}

.flex_col{
    flex: 1;
    font-weight: 300;
    padding: 0.5em;
}
.form_rows.flex_table .flex_col{
    padding: 0.5em 0.1em;
}
.flex_col.head,
.flex_table .flex_row.flex_head .flex_col,
.flex_table .flex_row.flex_foot .flex_col{
    color: #a0a0a0;
    font-size: 0.857em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    background-color: #fff;
}

.flex_col.linked a:not(.inline_block){
    display: block;
    margin-bottom: 0.2em;
}

.flex_col.linked a:not(.inline_block):last-child{
    margin-bottom: 0;
}

.flex_col.xx_sml{
    flex: 0.05;
}

.flex_col.x_sml{
    flex: 0.1;
}

.flex_col.sml{
    flex: 0.2;
}

.flex_col.med{
    flex: 0.4;
}

.flex_col.size_2{
    flex: 2;
}

.flex_col.size_3{
    flex: 3;
}

.flex_col.size_4{
    flex: 4;
}

.flex_col.size_5{
    flex: 5;
}

.flex_row.vert_center .flex_col,
.flex_col.vert_center{
    align-self: center;
    -webkit-align-self: center; /* Safari 7.0+ */
}

.flex_row.vert_bottom .flex_col,
.flex_col.vert_bottom{
    align-self: baseline;
    -webkit-align-self: baseline; /* Safari 7.0+ */
}

.flex_row.no_pad > .flex_col,
.flex_col.no_pad{
    padding: 0;
}
.flex_col.pad_col{
    padding: 0.5em!important;
}
.flex_row.form_element{
    margin-left: -0.5em;
    margin-right: -0.5em;
}

.flex_row.form_element > .flex_col{
    padding: 0 0.5em;
}

.flex_row,
.flex_col{
    transition: background;
    -webkit-transition: background;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}
.flex_table .flex_row:not(.flex_head):nth-child(even){
    background-color: #f1f1f1;
}

.flex_col.single_char{
    font-size: 2.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: #505050;
    pointer-events: none;
    cursor: default;
}
.flex_col.has_sub_row{
    padding: 0;
}
.flex_col.flex_col_full_width{
    flex: 0 1 100%;
}
.flex_col.flex_col_full_width_right_btn{
    flex: 0 1 90%;
}
/***UI TABLE***/
.ui_table{
    width: 100%;
    margin: auto;
    margin-bottom: 1em;
    table-layout: fixed;
    position: relative;
}
.ui_table_wrap{
    clear: both;
}
.ui_table_wrap, .index_wrap{
    margin-bottom: 1em;
}
.ui_table:last-child, .ui_table_wrap:last-child, .index_wrap:last-child{
    margin-bottom: 0;
}

.ui_table caption{
    padding-bottom: 0.93em;
}

.ui_table th,
.ui_table td{
    padding: 0.93em 0.64em;
    vertical-align: middle;
    font-size: 1em;
    overflow: hidden;
}

.ui_table th{
    text-align: left;
    color: #a0a0a0;
    text-transform: uppercase;
    font-size: 0.9em;
}

.ui_table th.center_align{
    text-align: center;
}

.ui_table th.right_align{
    text-align: right;
}

.ui_table td{
    transition: background;
    -webkit-transition: background;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    font-weight: 300;
    word-wrap: break-word;
}

.ui_table th.show_overflow, .ui_table td.show_overflow {
    overflow: visible;
}

.ui_table th.show_overflow, .ui_table td.show_overflow {
    overflow: visible;
}

.ui_table th.empty, .ui_table td.empty{
    background: none !important;
    border: none !important;
}
.ui_table tr:nth-child(odd) td{
    background: #f1f1f1;
}
.ui_table tr:nth-child(even) td{
    background: #fff;
}
.ui_table tr:hover td{
    background: #e5eef3;
}

.ui_table tr.checked:nth-child(odd) td,
.ui_table tr.new:nth-child(odd) td{
    background: #ccdde7;
}

.ui_table tr.checked:nth-child(even) td,
.ui_table tr.new:nth-child(even) td{
    background: #d9e6ed;
}

.ui_table tr.warning td{
    border: 0px solid #d9392e;
    border-top-width: 2px;
    border-bottom-width: 2px;
}
.ui_table tr.warning td.select_row_column:first-child,
.ui_table tr.warning td.empty:first-child{
    border-right: 2px solid #d9392e !important;
}
.ui_table tr.warning td:first-child{
    border-left-width: 2px;
}
.ui_table tr.warning td:last-child{
    border-right-width: 2px;
}
.ui_table tr.warning:nth-child(odd) td{
    background: #e9d4d4;
}
.ui_table tr.warning:nth-child(even) td{
    background: #f0e2e2;
}

.ui_table td a{
    display: block;
    font-weight: 600;
}

.ui_table td a.inline_block_link{
    display:inline-block;
    margin-right: 1em;
}
.ui_table td .wrap_btns a{
    display:inline-block;
}
.ui_table td .wrap_btns{
    margin-top: 0;
}
.ui_table td.right_align{
    text-align: right;
}

.ui_table td a.inline_link{
    display:inline;
}

.ui_table td.no_pad,
.ui_table td.linked{
    padding: 0;
}

.ui_table td.linked a{
    padding: 0.93em 0.64em;
}

.ui_table th.select_all_column,
.ui_table td.select_row_column,
.ui_table th.checkbox_column,
.ui_table td.checkbox_column,
.ui_table th.tax_column,
.ui_table td.tax_column{
    width: 30px;
    text-align: center;
}

.ui_table th.sml_col,
.ui_table td.sml_col{
    width: 3em;
}

.ui_table th.med_col,
.ui_table td.med_col{
    width: 6em;
}

.ui_table th.lrg_col,
.ui_table td.lrg_col{
    width: 20em;
}

.ui_table th.xlrg_col,
.ui_table td.xlrg_col{
    width: 30em;
}

.ui_table th.sort_column, .ui_table td.sort_column{
    width: 30px;
    text-align: center;
}

.sort_handle{
    cursor: move !important;
}

.ui_table th.item_full_desc, .ui_table td.item_full_desc{
    width: 25%;
}

.ui_table th.adjust, .ui_table td.adjust{
    width: 80px;
    text-align: center;
}
.ui_table td.adjust a{
    display:inline-block;
    padding: 0.2em;
}
.ui_table td.adjust a.custom_btn .icon_wrap{
    background: #808080;
}
.ui_table ul{
    list-style: none;
    margin: 0;
}

.ui_table tr.deleted td,
.ui_table tr.inactive td{
    text-decoration: line-through;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.ui_table tr.viewed td,
.ui_tile.viewed,
.ui_card.viewed{
/*    text-decoration: line-through;*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

.ui_table td.avatar_cell,
.ui_table th.avatar_cell{
    width: 50px;
}

.ui_table td.icon_cell,
.ui_table th.icon_cell{
    width: 40px;
    text-align: center;
}
.no_model_message
,p.content_block.no_model_message{
    padding: 1em!important;
    background-color: rgba(94,94,94, 0.1);
}
.ui_table_wrap .no_model_message{
    background-color: #e5eef3;
}
#list_bar .no_model_message{
    padding: 2em!important;
    background-color: #e5eef3;
}

.simple_table{
    font-size: 0.8em;
}

.simple_table th,
.simple_table td{
    text-align: left;
    padding: 0.2em;
}

.simple_table td img{
    display: inline-block;
    max-width: 300px;
}
.full_width{
    width: 100%;
}

.simple_table .avatar_wrap.circle,
.avatar_wrap.sml_circle{
    width: 14px;
    height: 14px;
}
.scroll_table{
    max-height: 500px;
    overflow: hidden auto;
}
/***AVATARS***/
.avatar_wrap{
    display: inline-block;
    width: 34px;
    height: 34px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    background-color: #6ca7da;
}
.avatar_wrap.light_font{
    color: #fff;
}

.avatar_wrap.has_img{
    background: none;
}

h1 .avatar_wrap,
h2 .avatar_wrap{
    vertical-align: middle;
    margin-right: 0.5em;
}

h2 .hover_icon_to_edit{
    margin-right: 0.5em;
}
.avatar_placeholder{
    position: absolute;
    width: 34px;
    height: 34px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 34px;
}
.avatar_placeholder.inline_block{
    position: relative;
    display: inline-block;
}
.avatar_placeholder .svg_icon{
    font-size: 1em;
    position: absolute;
    left: 50%;
    margin-left: -0.5em;
    bottom: -0.05em;
}
.avatar_placeholder .svg_icon svg *{
    fill: #fff !important;
}
.avatar_placeholder .icon.avatar{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -22px;
    margin-top: -22px;
}

.avatar_wrap .img_thumb{
    position: relative;
    z-index: 1;
    transition: opacity;
    -webkit-transition: opacity;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.avatar_wrap .img_thumb img{
    display: block;
}

.avatar_wrap.avatar_placeholder{
    background-color: #6ca7da;
}
.avatar_system{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('images/gi_logo_white.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.avatar_initials{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18pt;
    line-height: 1em;
    margin-top: -0.5em;
    z-index: 0;
    pointer-events: none;
    font-weight: 800;
    color:#fff;
}

.icon_cell .avatar_wrap,
.avatar_wrap.icon_wrap{
    width: auto;
    height: auto;
}
.main_head .avatar_wrap.icon_wrap{
    line-height: 9px;
    padding: 4px;
}
.double_initials .avatar_initials{
    font-size: 14pt;
}

.avatar_wrap:hover .avatar_initials{
    /*z-index: 2;*/
}

.avatar_wrap.has_img .avatar_initials{
    display: none;
}

.avatar_wrap:hover .avatar_initials + .img_thumb{
/*    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;*/
}
#user_bar{
    position: relative;
    padding: 1.5em 0.5em;
    padding-left: calc(34px + 2em);
}
#user_bar .notify_count{
    position: absolute;
    top: -1em;
    right: -0.5em;
    padding: 0.3em 0.5em;
    line-height: 1em;
    font-size: 1em;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 600;
    
    font-weight: 700;
    color: #fff;
    background: #d9392e;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    -webkit-box-shadow: rgba(0,0,0,0.4) 0px 0px 3px;
    -moz-box-shadow: rgba(0,0,0,0.4) 0px 0px 3px;
    box-shadow: rgba(0,0,0,0.4) 0px 0px 3px;
}
#user_bar .user_name{
    color: #fff;
    font-weight: 700;
    font-size: 1.29em;
    margin-bottom: 0.2em;
    display: block;
    line-height: 1em;
}
#user_bar .user_email{
    color: #fff;
    font-size: 1em;
    display: block;
    line-height: 1em;
}
#user_bar .user_avatar_wrap{
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -17px;
    width: 34px;
    height: 34px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#user_bar .img_thumb{
    position: absolute;
    width: 34px;
    height: 34px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#user_bar .img_thumb img{
    display: block;
    width: auto;
    height: auto;
}
#user_bar .img_thumb.missing, .avatar_wrap .img_thumb.missing{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px dashed #bd4b4b;
    background: url('images/missing_file.png') center;
    background-size: 36px 36px;
}
.avatar_wrap .img_thumb.missing{
    position: absolute;
    width: 100%;
    height: 100%;
}
#user_bar .avatar_placeholder{
    background: #6ca7da;
}
#user_bar .avatar_placeholder:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-box-shadow: inset rgba(0,0,0,0.5) 0px 0px 10px;
    -moz-box-shadow: inset rgba(0,0,0,0.5) 0px 0px 10px;
    box-shadow: inset rgba(0,0,0,0.5) 0px 0px 10px;
    content: '';
    display: block;
}
.bird_beak_menu_wrap{
    position: relative;
    z-index: 1000;
    display: inline-block;
}
.bird_beak_menu_wrap .bird_beak{
    display: none;
    cursor: pointer;
    padding: 0.5em;
}
.bird_beak_menu_wrap:not(.open) .bird_beak.open,
.bird_beak_menu_wrap.open .bird_beak.close{
    display: block;
}
.bird_beak_menu_wrap.open .bird_beak.close{
    float: none;
    font-size: 1em;
    opacity: 1;
}
.bird_beak_menu{
    position: absolute;
    z-index: 1000;
    min-width: 100px;
    border: 1px solid rgba(0,0,0, 0.2);
    right: 0;
    top: 2em;
    background: #fff;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: none;
    text-align: left;
}
.bird_beak_menu > *{
    display: block;
    width: 100%;
    padding: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: background, color;
    -webkit-transition: background, color;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    white-space: nowrap;
}
.bird_beak_menu > *:last-child{
    border-bottom: 0;
}
.bird_beak_menu .custom_btn{
    margin: 0;
}
.bird_beak_menu .custom_btn .svg_icon + .btn_text{
    margin-left: 0.5em;
}
.bird_beak_menu .custom_btn svg *{
    fill: #6294bd;
    transition: fill;
    -webkit-transition: fill;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.bird_beak_menu > *:hover{
    background: #f0f0f0;
    color: #3c6688;
}

.bird_beak_menu > *:hover svg *{
    fill: #3c6688;
}
/***TAGS***/
.tag_list_field .ac_list li,
p.tag_block,
.tag_item{
    display: inline-block !important;
    position: relative;
    margin: 0.5em !important;
    cursor: default;
    width: auto!important;
    font-size: 1em;
    padding: 0.3em 0.5em !important;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1) !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: 400;
    min-height: 0 !important;
    line-height: 1.2em;
    vertical-align: middle;
}
.dark_bg .tag_item,
.shadow_box_modal .tag_item,
.dark_bg .tag_list_field .ac_list li,
.shadow_box_modal .tag_list_field .ac_list li{
    background: rgba(255,255,255,0.8);
    border: 1px solid rgba(255,255,255,0.3) !important;
}
.tag_item.empty{
    border: none !important;
    background: none;
}
.tag_list_field .ac_list li:last-child,
p.tag_block:last-child,
.tag_item:last-child{
    margin-right: 0;
}

p.tag_block .tri,
.tag_item .tri{
    width: 0;
    height: 0;
    border-top: 0.5em solid #efedec;
    border-left: 0.5em solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}
.tag_list_field .ac_list{
    margin-left: 0;
}
.tag_list_field .ac_list li .ac_remove{
    position: relative;
    top: auto;
    right: auto;
    float: right;
    margin-right: -0.4em;
    margin-left: 0.2em;
}

.tag_items_wrap{
    margin-bottom: 1em;
}
.tag_items_wrap:last-child{
    margin-bottom: 0;
}
.tag_items_label{
    display: inline-block;
    font-size: 1em;
    line-height: 1.2em;
    vertical-align: middle;
    padding: 0.3em 0em;
    margin: 0.5em 0em;
}
.tag_item.match{
    background: rgba(108, 167, 218, 0.3);
}
/*************/
.credit_card_wrap .credit_card,
.package_wrap{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.credit_card_wrap .credit_card:before,
.credit_card_wrap .credit_card:after,
.package_wrap:before,
.package_wrap:after{
    content: normal; /** To fix Safari bug with flex-wrap **/
}
.package_wrap .package_option{
    flex: 1;
    position: relative;
}
form .package_option{
    cursor: pointer;
}
.package_wrap .package_option .package_option_content{
    margin: auto;
}
.package_option_content{
    max-width: 300px;
    padding: 1em;
    background: #6ca7da;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
    color: #fff;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 10px 20px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 10px 20px;
    box-shadow: rgba(0,0,0,0.2) 0px 10px 20px;
}
form .package_option .package_option_content{
    background: rgba(255,255,255,0.4);
    color: #808080;
}
form .package_option.selected .package_option_content{
    background: #6ca7da;
    color: #fff;
}
.package_option_content h3{
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 800;
}
.package_option_content .package_desc{
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 1em;
}

.package_option_content .package_price{
    font-size: 3em;
    line-height: 1em;
    font-weight: 700;
}
.package_option_content .package_price .value{
    display: inline-block;
    font-size: 1em;
    line-height: 1em;
    vertical-align: top;
}
.package_option_content .package_price .symbol{
    display: inline-block;
    font-size: 0.6em;
    line-height: 1em;
    vertical-align: top;
}
.package_option .radio_element{
    margin-top: 1em;
}
.package_option .radio_element .options_wrap label .radio_box{
    box-shadow: none;
    background: none;
    border: solid 4px #6ca7da;
    width: 3em;
    height: 3em;
    transition: .3s;
}
.package_option ul,
.package_option li{
    list-style: none;
    margin-left: 0;
}
.package_option li:before{
    content: '\00B7';
    font-size: 2em;
    line-height: 0.5em;
    margin-right: 0.2em;
    vertical-align: top;
    display: inline-block;
}
.package_option.selected .radio_element .options_wrap label .radio_box{
    border: solid 4px rgba(255,255,255,0.6);
}
.package_option .options_wrap label input[type="radio"]:checked + .radio_box::before {
    background: none;
    border: solid 0.6em #fff;
    border-top-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-width: 0.6em;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 0.6em;
    border-top: none;
    border-right: none;
    border-radius: 0;
    transform: rotate(-45deg);
    width: 2.3em;
    height: 1em;
    top: 0.2em;
    left: 0.8em;
    box-shadow: -2px 2px 0 0px #6ca7da;
}

.credit_card_wrap{
    margin-bottom: 1em;
}
.credit_card_wrap:last-child{
    margin-bottom: 0;
}
.credit_card_wrap .credit_card{
    background: rgba(0,0,0,0);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0) , rgba(0,0,0,0.1));
    background: -o-linear-gradient(bottom, rgba(0,0,0,0) , rgba(0,0,0,0.1));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0) , rgba(0,0,0,0.1));
    background: linear-gradient(to bottom, rgba(0,0,0,0) , rgba(0,0,0,0.1));
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: background, color;
    -webkit-transition: background, color;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}
.options_wrap label input[type="radio"]:checked + .radio_box + .radio_label .credit_card_wrap .credit_card{
    background: rgba(108,167,218,0.4);
    background: -webkit-linear-gradient(bottom, rgba(108,167,218,0.4) , rgba(108,167,218,0.9));
    background: -o-linear-gradient(bottom, rgba(108,167,218,0.4) , rgba(108,167,218,0.9));
    background: -moz-linear-gradient(bottom, rgba(108,167,218,0.4) , rgba(108,167,218,0.9));
    background: linear-gradient(to bottom, rgba(108,167,218,0.4) , rgba(108,167,218,0.9));
    color: #fff;
}
.radio_element label:hover .credit_card_wrap .credit_card{
    background: rgba(0,0,0,0.1);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.1) , rgba(0,0,0,0.2));
    background: -o-linear-gradient(bottom, rgba(0,0,0,0.1) , rgba(0,0,0,0.2));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.1) , rgba(0,0,0,0.2));
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) , rgba(0,0,0,0.2));
}
.credit_card_wrap .credit_card > *{
    flex: 1;
    display: inline-block;
    vertical-align: middle;
    align-self: center;
    -webkit-align-self: center; /* Safari 7.0+ */
    padding: 0.5em;
    text-align: center;
    font-weight: 400;
}
.credit_card_wrap .credit_card > *:first-child{
    text-align: left;
    padding-left: 0.6em;
}
.credit_card_wrap .credit_card > *:last-child{
    text-align: right;
    padding-right: 0.6em;
}
.credit_card_wrap .cc_brand_name,
.credit_card_wrap .cc_brand_logo{
    display: inline-block;
    vertical-align: middle;
}
.credit_card_wrap .cc_brand_logo{
    margin-right: 0.5em;
    font-size: 1.5em;
    line-height: 1em;
}
.credit_card_wrap.default .credit_card{
    background: rgba(108,167,218,0.2);
    background: -webkit-linear-gradient(bottom, rgba(108,167,218,0.2) , rgba(108,167,218,0.4));
    background: -o-linear-gradient(bottom, rgba(108,167,218,0.2) , rgba(108,167,218,0.4));
    background: -moz-linear-gradient(bottom, rgba(108,167,218,0.2) , rgba(108,167,218,0.4));
    background: linear-gradient(to bottom, rgba(108,167,218,0.2) , rgba(108,167,218,0.4));
}
/***CATALOG ITEMS***/
.catalog_item_wrap{
    margin-bottom: 2em;
}
.catalog_item_wrap:last-child{
    margin-bottom: 0em;
}
.catalog_item_content_wrap{
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 5px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 5px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 5px;
    background: #fff;
    position: relative;
}

/***** LAYOUT *****/
#header_wrap{
    position: relative;
}
#content_wrap{
    position: relative;
    overflow: auto;
}
#content{
    background: #f1f1f1;
    height: 100%;
}
.content_padding{
    padding: 2.14em;
}
#footer_wrap{
    position: relative;
}
#header_wrap .left_panel{
    background-color: #6ca7da;
}
/***** END LAYOUT *****/

/***** LOGIN LAYOUT *****/
body.login_layout #content_wrap{
    overflow: visible;
}
.login_layout #content_wrap{
    width: 600px;
    height: 600px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -400px;
}
.login_layout.action_register #content_wrap{
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
/***** END LOGIN LAYOUT *****/

/***** MENU *****/
#menu_btn{
    position: fixed;
    top: 28px;
    left: 25px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 3000;
    display: none;
    z-index: 8000;
}

#menu_btn:before{
    z-index: -1;
    content: '';
    background: #000;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 1px 1px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 1px 1px;
    box-shadow: rgba(0,0,0,0.5) 0px 1px 1px;
}
#main_nav nav ul{
    margin-left: 0;
}
#main_nav nav ul li{
    position: relative;
    transition: background;
    -webkit-transition: background;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    background-color: rgba(0,0,0,0);
}

#main_nav nav ul li a,
#main_nav nav ul li .title{
    display: inline-block;
    padding: 1.12em 1.5em;
    font-size: 1.1em;
    cursor: pointer;
    position: relative;
    z-index: 99;
    color: #fff;
    vertical-align: middle;
}
#main_nav nav ul li a .icon_wrap,
#main_nav nav ul li .title  .icon_wrap{
    width: 30px;
    text-align: center;
}
#main_nav nav ul li a .icon_wrap .icon,
#main_nav nav ul li .title  .icon_wrap .icon{
    font-size: 1.5em;
    color: #fff;
}
#main_nav nav > ul > li.current,
#main_nav nav > ul > li:hover,
#main_nav nav > ul > li.sub_menu.open,
#main_nav nav > ul > li.sub_menu li:hover{
    background-color: rgba(0,0,0,0.4);
}
#main_nav nav ul li ul {
    display: none;
    margin-left: 0;
    background-color: rgba(0,0,0,0.5);
}
#main_nav nav ul li ul li{
    display: block;
    width: 100%;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
}
#main_nav nav > ul > li > ul li > a
, #main_nav nav > ul > li > ul li > .title{
    display: block;
    font-size: 1em;
}
#main_nav nav > ul > li.top_menu_divider:before {
    content: "";
    display: block;
    position: absolute;
    width: 95%;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid rgba(0,0,0, 0.2);
}
#main_nav nav ul li.login_bar_menu a{
    padding: 1.1em 2.4em;
    height: 50px;
}
#main_nav nav ul li.login_bar_menu_start{
    margin-top: 1em;
}
#main_nav nav ul li.login_bar_menu_end{
    margin-bottom: 1em;
}
#main_nav nav ul li.login_bar_menu_start:before
,#main_nav nav ul li.login_bar_menu_end:after
{
    content: "";
    height: 1px;
    display: block;
    background: rgba(0,0,0,0.2);
    width: 270px;
    margin-left: 15px;
}
#main_nav nav ul li.login_bar_menu a:hover
,#main_nav nav ul li.login_bar_menu.current a{
    background-color: rgba(3,62,92,0.8);
}
.login_bar_menu .left_icon{
    display: none;
}
/***** END MENU ******/

/*************/
#login_box{
    margin: auto;
    background: #f1f1f1;
    margin-bottom: 10%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}
#login_box:before{
    content: '';
    position: absolute;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid rgba(0,0,0,0.2);
    left: -2px;
    right: -2px;
    top: -2px;
    bottom: -2px;
}
#content_wrap.login{
    padding: 20vh 0;
}
#login_box.content_padding{
    padding: 40px;
}
#login_box #main_window_view_wrap{
    background: #f1f1f1;
}
.content_padding:after{
    clear: both;
    content: '';
    display: block;
}
.auto_columns>*, .auto_columns>.multi_column:nth-last-child(+2){
    margin-bottom: 1em;
}
/***************/

hr{
    border: none;
    background: none;
    border-top: 1px solid #A0A0A0;
    border-bottom: 1px solid #fff;
    margin: 2em auto;
    clear: both;
}

hr.no_marg {
    margin-top:0em;
    margin-bottom:0em;
}

/************/
#logo{
    display: inline-block;
    padding: 20px 2em;
    position: relative;
}
#header_wrap #logo img{
    max-height: 40px;
}
#header_wrap #logo .text_logo{
    font-size: 2em;
    font-weight: 800;
}
#header .filter_wrap{
    position: relative;
    float: right;
    line-height: 80px;
    margin-right: 25px;
} 
.login_layout #logo img{
    width: 200px;
    height: 200px;
}
#log_out{
    display: inline-block;
    color:#fff;
    font-size: 1em;
    position: absolute;
    right: 15px;
    top: 11px;
}

#breadcrumbs{
    padding: 0 2.14em;
    position: relative;
    background-color: #6ca7da;
    height: 34px;
    z-index: 8;
}
.empty #breadcrumbs{
    display: none;
}
#breadcrumbs ul{
    margin-left: 0;
    margin-bottom: 0;
}

#breadcrumbs li{
    display:inline-block;
    margin-right: 0.5em;
}

#breadcrumbs li:after{
    content: '\00bb';
    display:inline-block;
    margin-left: 0.5em;
    color: #7e7777;
}

#breadcrumbs li a,
#breadcrumbs li .title{
    display:inline-block;
    padding: 11px 0;
    line-height: 1;
    color: #fff;
    font-size: 0.9em;
}

#breadcrumbs li:last-child:after{
    content: '';
}
/*************/
p{
    margin-bottom: 1em;
}
p:last-child{
    margin-bottom: 0;
}
/***************/
.file_thumb .corner:before{
    background: #f1f1f1;
}
#main_window .file_thumb .corner:before{
    background: #f5f5f5;
}
#main_window_view_wrap .file_thumb .corner:before{
    background: #fff;
}
/***************/

/**************/



.ui_table th.inv_icon, .ui_table td.inv_icon, .ui_table th.remove_cell, .ui_table td.remove_cell{
    width: 40px;
    text-align: center;
}

.ui_table td .icon_wrap{
    display: inline-block;
    vertical-align: middle;    
}

.ui_table td.remove_cell .icon_wrap{
    padding: 4px;
    cursor: pointer;
}

.ui_table tbody tr:only-child td.remove_cell .icon_wrap{
    display: none;
}

.disclaimer{
    font-size: 0.7em;
}
/**PageBar**/
.pagination_bar{
    position: relative;
    min-height: 1em;
    margin-bottom: 2em;
}

.pagination_bar:last-child{
    margin-bottom: 0;
}

.pagination_bar .total_count,
.pagination_bar .right_side{
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    font-size: 0.9em;
    line-height: 1.2em;
}

.pagination_bar .total_count{
    left: 0;
}

.pagination_bar .right_side{
    right: 0;
}

.pagination_bar .right_side .custom_btn .icon_wrap{
    margin-bottom: -0.1em;
}

.pagination_bar .total_count .numeric_index{
    font-weight: 600;
}
.advanced_content .pagination_bar{
    display: none;
}
.advanced_content .pagination_bar.multi_pages{
    display: block;
}
.pagination,
.result_limit_bar ul{
    list-style: none;
    margin: auto;
    text-align: center;
}

.result_limit_bar ul{
    display: inline-block;
}

.pagination li,
.load_more_btn,
.result_limit_bar li{
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    border: 2px solid #ccc;
    color: #6ca7da;
    transition: background;
    -webkit-transition: background;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.pagination li:first-child,
.result_limit_bar li:first-child{
    border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
}

.pagination li:last-child,
.result_limit_bar li:last-child{
    /*border-right: none !important;*/
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
}

.pagination li:hover,
.pagination li.current,
.load_more_btn:hover,
.result_limit_bar li:hover,
.result_limit_bar li.current{
    background: #3c6688;
    color: #fff;
}

.load_more_btn_wrap {
    width: 100%;
    background-color: #fff;
    padding: 1em;
    text-align: center;
}

.load_more_btn{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    margin: auto;
    text-align: center;
}

#list_table_wrap .load_more_btn{
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    cursor: pointer;
    margin: auto;
    text-align: center;
}

.pagination li a,
.pagination li.more,
.load_more_btn .btn_text,
.result_limit_bar li .limit_btn{
    min-width: 1em;
    padding: 0.5em;
    display: inline-block;
    color: #6ca7da;
    font-weight: 700;
}
.pagination li.more{
    background: none;
    color: #7899b0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.result_limit_bar li .limit_btn{
    cursor: pointer;
    padding: 0.2em 0.5em;
    font-size: 0.8em;
}

.result_limit_bar{
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -1em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    transition: opacity;
    -webkit-transition: opacity;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.result_limit_bar:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.result_limit_bar .limit_label{
    color: #505050;
    display: inline-block;
    margin-right: 0.3em;
    font-size: 0.9em;
    cursor: default;
}

.load_more_btn .btn_text{
    padding: 0.5em 1em;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.14em;
    line-height: 1em;
}
.load_more_btn:hover .btn_text{
    color: #fff;
}

/**Ajaxed Contents**/
.ajaxed_contents > .content_padding{
    padding: 0;
}
.ajaxed_contents{
    margin-bottom: 1em;
}
.ajaxed_contents:last-child{
    margin-bottom: 0;
}
/***** LOADERS *****/
.loading{
    position: relative;
    min-height: 200px;
}
body.loading{
    height: auto;
    position: static;
}
.loading_auto_min_height.loading{
    min-height: 0!important;
}
.loading:after{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    background: #fff;
}
body.loading:after{
    position: fixed;
    z-index: 9999;
}
.loader_gif{
    position: absolute;
    height: 20px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -10px;
    text-align: center;
    z-index: 9000;
}

.loader_gif img{
    display: inline-block;
    height: 100%;
}

.loader_gif.gears,
.loader_gif.circle{
    height: 140px;
    margin-top: -70px;
    background-image: none;
}

.loader_gif .loader_desc{
    display: block;
    font-size: 12px;
    color: #555;
    margin-top: -6px;
}
.advanced.loading{
    min-height: 0;
}

/*************/
.gray{
    color: #808080 !important;
}

.red{
    color: #d9392e !important;
}

.yellow{
    color: #d9962e !important;
}

.green{
    color: #409c40 !important;
}

.blue{
    color: #40779c !important;
}

.primary{
    color: #40779c !important;
}
/*************/
.alerts_wrap{
    position: fixed;
    z-index: 9999;
    width: 640px;
    top: 2em;
    left: 50%;
    margin-left: -320px;
}
.alerts_wrap .alert_message .close_alert{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
}
/**************/
.alert_message{
    color: #fff !important;
    background: #808080;
    border: 2px solid #4a4a4a;
    text-shadow: 1px 1px 1px #4a4a4a;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 600;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
    margin-bottom: 1em;
    position: relative;
}

.circle_status_cell{
    width: 5em;
    text-align: right;
    vertical-align: middle;
}

.status_circle{
    display: inline-block;
    color: #fff !important;
    background: #808080;
    border: 2px solid #4a4a4a;
    text-shadow: 1px 1px 1px #4a4a4a;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 0.3em;
    margin-right: 0.3em;
    cursor: default;
}

.alert_message:last-child{
    margin-bottom: 0;
}

.alert_message *{
    color: #fff !important;
}

.alert_message.red,
.status_circle.red{
    background: #d9392e;
    border: 2px solid #b90d08;
    text-shadow: 1px 1px 1px #b90d08;
    color: #fff !important;
}

.alert_message.yellow,
.status_circle.yellow{
    background: #d9962e;
    border: 2px solid #94631b;
    text-shadow: 1px 1px 1px #94631b;
    color: #fff !important;
}

.alert_message.green,
.status_circle.green{
    background: #409c40;
    border: 2px solid #105f10;
    text-shadow: 1px 1px 1px #105f10;
    color: #fff !important;
}

.alert_message.blue,
.status_circle.blue{
    background: #40779c;
    border: 2px solid #25465c;
    text-shadow: 1px 1px 1px #25465c;
    color: #fff !important;
}
/**GI Modal**/
#gi_modal_bg{
    background: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    display: none;
}
.gi_modal.page_nested_modal + #gi_modal_bg,
#gi_modal_bg.modal_moved{
    display: none!important;
}
.gi_modal{
    position: absolute;
    top: 10%;
    width: 320px;
    left: 50%;
    margin-left: -160px;
    z-index: 8100;
    display: none;
    background: #f1f1f1;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    transition: width, margin;
    -webkit-transition: width, margin;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}
.gi_modal.medium_sized{
    width: 640px;
    margin-left: -320px;
}
.gi_modal.large_sized{
    width: 1300px;
    margin-left: -650px;
}
.gi_modal.full_sized{
    width: 80%;
    min-height: 80%;
    margin-left: -40%;
}
.gi_modal.page_nested_modal{
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    width: 100%;
    z-index: 9;
}
.gi_modal .view_wrap,
.gi_modal .content_padding,
#main_content .view_wrap .gi_modal .view_body,
.gi_modal > .view_body {
    padding: 15px;
}
.gi_modal .content_padding.gi_modal_no_pad{
    padding: 0;
    position: relative;
}
.content_padding.gi_modal_no_pad h1,
.content_padding.gi_modal_no_pad h2{
    margin-bottom: 0;
}
.gi_modal .content_padding.gi_modal_no_pad h1,
.gi_modal .content_padding.gi_modal_no_pad h2{
    text-transform: none;
    font-size: 1em;    
    padding: 15px 45px 15px 15px;
    background: #6ca7da;
    color: #fff;
    text-transform: none;
    font-weight: 700;
    text-shadow: none;
    min-height: 44px;
}
.gi_modal .content_padding.breadcrumbs{
    padding: 10px 15px;
}

.gi_modal.loading{
    position: absolute;
    min-height: 100px;
}
.gi_modal.shadow_box_modal{
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    z-index: 8300;
}
.gi_modal.shadow_box_modal + #gi_modal_bg{
    opacity: 0.8;
    z-index: 8200;
}
.gi_modal.shadow_box_modal .content_padding.gi_modal_no_pad h2{
    background-color: transparent;
}
.gi_modal.shadow_box_modal .content_padding.gi_modal_no_pad .close_gi_modal .icon.remove_sml{
    background-position: -208px -4px;
    width: 13px;
    height: 13px;
}
.gi_modal.shadow_box_modal  .form_element input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"])
,.gi_modal.shadow_box_modal .form_element textarea, .gi_modal.shadow_box_modal .form_element .selectric
,.gi_modal.shadow_box_modal .form_element ul.tagit, .gi_modal.shadow_box_modal  .form_element .jsignature_signarea{
    background-color: rgba(255,255,255,0.8);
    font-size: 15px;
    padding: 1em 2em;
    color:#333;
}
.gi_modal.shadow_box_modal .content_padding.gi_modal_no_pad .close_gi_modal .icon.remove_sml {
    background-image: url(../media/img/art/icon_cross_lg_w.svg);
    background-size: 50px;
    background-position: -261px -6px;
    width: 50px;
    height: 50px;
    background-position: center;
}
.gi_modal.shadow_box_modal .close_gi_modal .icon_wrap{
    background-color: transparent;
    border: 0;
}
.gi_modal.shadow_box_modal .search_field fieldset{
    padding: 1em 0;
}
.gi_modal.shadow_box_modal .form_element label.main
,.gi_modal.shadow_box_modal .search_field_title
,.gi_modal.shadow_box_modal .search_field fieldset legend{
    color: #fff;
    font-size: 1.7em;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: none;
}
.gi_modal.shadow_box_modal .inline_form_elements .form_element label.main{
    font-size: 1.2em;
}
.gi_modal.shadow_box_modal .search_field fieldset legend{
    border-bottom: 1px solid #fff;
}
.gi_modal.shadow_box_modal .content_padding.gi_modal_no_pad{
    margin-top: 0;
} 
.gi_modal.shadow_box_modal .content_padding.gi_modal_no_pad h2.auto_title{
    display: none;
}
.gi_modal.shadow_box_modal .search_box{
    padding: 2em;
    margin-left: 0;
    margin-right: 0;
    border: 0;
}
.gi_modal.shadow_box_modal .search_box .close_search_box {
    display: none;
}
.gi_modal.shadow_box_modal form .columns .columns{
    margin-bottom: 0;
}
.gi_modal.shadow_box_modal.loading:after{
    background: url(images/gears.gif) no-repeat center;
    background-size: contain;
}
.gi_modal.page_nested_modal .auto_title{
    display: none!important;
}
.gi_modal.shadow_box_modal .field_description{
    color: #ccc;
}
.gi_modal.shadow_box_modal .search_box .form_element .autocomp_search_icon svg *{
    fill: #808080 !important;
}
.gi_modal.shadow_box_modal .options_wrap label .radio_box,
.gi_modal.shadow_box_modal .options_wrap label .checkbox_box{
    background: rgba(0,0,0,0.5);
}
/*************/
.show_content_in_modal{
    position: relative;
}

.show_content_in_modal .modal_content{
    display: none;
}

.show_content_in_modal .modal_preview{
    cursor: pointer;
    padding: 0.6em 0;
}

.show_content_in_modal.disabled{
    cursor: default;
}

.show_content_in_modal .modal_content.gi_modal{
    position: fixed;
}
/*************/
.content_padding.breadcrumbs span{
    display: inline-block;
    margin-right: 0.2em;
}
.content_padding.breadcrumbs span:after{
    content: '>';
    display: inline-block;
    margin-left: 0.2em;
}
.content_padding.breadcrumbs span:last-child:after{
    content: '';
}
.content_padding.gi_modal_no_pad .close_gi_modal{
    display: none;
}
.gi_modal .content_padding.gi_modal_no_pad .close_gi_modal{
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -14px;
    display: block;
}
.gi_modal.shadow_box_modal .content_padding.gi_modal_no_pad .close_gi_modal{
    position: fixed;
    right: 20px;
    top: 30px;
}
.gi_modal.page_nested_modal .close_gi_modal{
    display: none!important;
}
.gi_modal .close_gi_modal .icon_wrap{
    margin-right: 0;
}

.gi_modal_read_more{
    cursor: pointer;
}

.gi_modal_read_more .read_more_content{
    display: none;
}

.gi_modal.read_more_modal .content_padding{
    line-height: 2em;
}

.gi_modal img{
    max-width: 100%;
}
.gi_modal .img_thumb img{
    max-width: none;
}