/***** Layout ******/
#header_wrap{
    width: 100%;
    background-color: #6ca7da;
}
#content_wrap{
    z-index: 1;
}
#footer_wrap{
    background-color: #7a7373;
    color: #fff;
}
/***** END Layout *****/
.top_divider{
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #dcdcdc;
}
.display_table{
    display: table;
    height: 100%;
}
.display_table_cell{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#header{
    position: relative;
    width: 1197px;
    margin-left: auto;
    margin-right: auto;
}
section{
    padding: 4em 0;
    margin-bottom: 0;
}
section.no_top_padding{
    padding-top: 0;
}
section.no_bottom_padding{
    padding-bottom: 0;
}
.view_wrap.full_width section{
    padding: 4em 2.14em;
}
section.google_map_wrap{
    padding: 0;
}
#main_nav_wrap{
    position: relative;
    width: 75%;
    display: inline-block;
    text-align: right;
    z-index: 9;
}
#footer_wrap a
,#footer_wrap a:hover
,#footer_wrap a:focus{
    color: #fff;
}
#main_content{
}

.view_wrap{
    width: 1197px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.gi_modal .view_wrap
, .ajaxed_contents .view_wrap{
    width: 100%;
    /*padding: 0 2.14em;*/
}
#main_window_view_wrap > .view_header{
    padding: 2.14em 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.full_width.view_wrap > .view_header{
    padding: 2.14em;
}
#main_window_view_wrap > .view_body{
    padding: 2.14em 0;
}
.full_width.view_wrap > .view_body{
    padding: 2.14em;
}
#main_window_view_wrap > .view_footer{
    padding: 2.14em 0;
}
.full_width.view_wrap > .view_footer{
    padding: 2.14em;
}
.view_header .main_head {
    color: #505050;
    margin-bottom: 0;
    line-height: 1.3;
}
.view_header .main_head .sub_head {
    display: block;
    font-size: 0.8em;
    margin-top: 0.1em;
    color: #505050;
}
.main_head.left_icon_head .sub_head {
    margin-left: 36px;
}
.gi_modal .view_wrap,
.gi_modal .content_padding,
#main_content .view_wrap .gi_modal .view_body,
.gi_modal > .view_body {
    padding: 15px;
}
/***** Layout :end ******/

/****** Menu *****/
#main_nav nav ul li{
    display: inline-block;
}
#main_nav nav ul li a.sub_menu,
#main_nav nav ul li .title.sub_menu{
    padding-right: 0.5em;
}
#main_nav nav > ul > li:last-child > a
, #main_nav nav > ul > li:last-child > .title{
    padding-right: 0;
}
#main_nav nav > ul > li.current
,#main_nav nav > ul > li:hover {
    
}
#main_nav nav > ul > li.sub_menu > .title:after
,#main_nav nav > ul > li > ul > li.sub_menu > .title:after{
    background: url(images/icon_arrow_down.svg) no-repeat center;
    background-size: 10px 18px;
    content: "";
    display: inline-block;
    width: 30px;
    height: 1em;
    cursor: pointer;
    vertical-align: middle;
}
#main_nav nav ul li ul {
    position: absolute;
    right: 0;
}
#main_nav nav ul li ul li.current.open{
    background-color: rgba(0,0,0,0.5);
}
#main_nav nav ul li ul.open li ul{
    position: absolute;
    top: 0;
    left: 100%;
}
/***** Menu :end ******/
.content_group_title.main_head{
    font-size: 1.36em;
    line-height: 1em;
    padding-bottom: 1.36em;
    margin-bottom: 1.36em;
}
.content_group_title.main_head .svg_icon{
    margin-right: 0.2em;
    font-size: 1.5em;
}
.content_group_section{
    position: relative;
}
.content_group_section_title{
    font-size: 1.29em;
    color: #5e5e5e;
    margin-bottom: 2em;
}
.content_group_section .right_btns{
    position: absolute;
    right: 0;
    top: 0;
}
.content_group_block{
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
}
.content_group_block.has_right_btns{
    padding-top: 2em;
}
.content_group_block.has_right_btns .right_btns{
    position: absolute;
    right: 0;
    top: 0;
}
.accent_colour{
    width: 44px;
    height: 44px;
}
.full_width_element .form_element{
    max-width: 100%!important;
}
/*************/
#logo{
    padding: 20px 2em 20px 0;
    width: 25%;
}
#header_wrap #logo img{
    max-width: 100%;
}
#header_wrap #logo .text_logo{
    font-size: 2em;
    font-weight: 800;
}
/***** Tile view ******/
.ui_tiles{
    margin-bottom:0;
}
.ui_tiles .ui_tile{
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    padding: 0.7em 1em;
    background-color: transparent;
    position: relative;
}
.ui_tiles .ui_tile:last-child{
    border-bottom: 0;
}
.ui_tile.tile_link{
    cursor: pointer;
}
.ui_tiles .ui_tile .ui_tile_content{
    width: 100%;
    padding: 16px 24px 16px 16px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    transition: all;
    -webkit-transition: all;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    background-color: #fff;
}
.ui_tiles .ui_tile:hover
,.ui_tiles .ui_tile.current{
    background: #bcdefa url(images/icon_arrow_right.svg) no-repeat;
    background-size: 10px 18px;
    background-position: right 10px center;
}
.ui_tiles .ui_tile:hover .ui_tile_content
,.ui_tiles .ui_tile.current .ui_tile_content{
    width: calc(100% - 16px);
    padding-right: 8px;
}
.ui_tiles .ui_tile.has_right_btns .ui_tile_content{
    padding-right: 60px;
}
.ui_tiles .ui_tile.has_right_btns:hover .ui_tile_content
,.ui_tiles .ui_tile.current.has_right_btns .ui_tile_content{
    padding-right: 44px;
}
.ui_tiles .ui_tile .ui_tile_cell{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.ui_tiles .ui_tile .ui_tile_cell:last-child{
    margin-right: 0;
}
.ui_tiles .ui_tile .ui_tile_cell a{
    display: block;
    height: 100%;
    color:#505050;
}
.ui_tiles .ui_tile .avatar_placeholder {
    background: #6ca7da;
    width: 44px;
    height: 44px;
}
.ui_list_body.loading{
    min-height: 0;
}
.ui_tiles .ui_tile .ui_tile_cell.avatar_cell{
    width: 50px;
    height: 50px;
}
.ui_tiles .ui_tile .ui_tile_cell.icon_cell{
    width: 50px;
    padding: 8px;
}
.ui_tiles .ui_tile .ui_tile_cell.full_width_cell{
    width: 100%;
    margin-right: 0;
}

.ui_tiles .ui_tile .ui_tile_cell.title_cell{
    color: #6ca7da;
    font-size: 1.3em;
    font-weight: 700;
    cursor: pointer;
}
.ui_tiles .ui_tile .ui_tile_cell .title
,.ui_tiles .ui_tile .ui_tile_cell .subtitle{
    color: #6ca7da;
    display: block;
}
.ui_tiles .ui_tile .ui_tile_cell.title_cell .subtitle{
    font-weight: 400;
    font-size: 0.8em;
}
.card_view .ui_tiles .ui_tile{
    padding: 1.5em 1em 1.5em 40px;
}
.card_view .ui_tiles .ui_tile .ui_tile_content{
    display: block;
    position: relative;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    min-height: 100px;
}
.card_view .ui_tiles .ui_tile .ui_tile_content:after{
    content: "";
    display: block;
    position: absolute;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 6px;
}
.card_view .ui_tiles .ui_tile .card_tab_cell{
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
    position: absolute;
    left: 3px;
    bottom: 0;
    padding: 2px 7px 5px 7px;
    background-color: #6ca7da;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-transform: uppercase;
    font-style: italic;
    min-width: 80px;
    text-align: center;
    z-index: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
}
.card_view .ui_tiles .ui_tile.hold .card_tab_cell{
    background-color: #d9962e;
}
.card_view .ui_tiles .ui_tile.urgent .card_tab_cell
,.card_view .ui_tiles .ui_tile.draft .card_tab_cell{
    background-color: #d9392e;
}
.card_view .ui_tiles .ui_tile .card_top_right_cell{
    position: absolute;
    right: 5px;
    z-index: 9;
    color: #6ca7da;
    font-weight: 700;
    font-size: 1.2em;
}
.card_view .ui_tiles .ui_tile .card_top_left_cell{
    position: relative;
    z-index: 9;
    margin-bottom: 1em;
    min-height: 30px;
}
.card_view .ui_tiles .ui_tile .ui_tile_cell .title{
    font-size: 1.2em;
}
.card_view .ui_tiles .ui_tile .card_bottom_cell{
    position: relative;
    z-index: 9;
    padding-top: 1em;
    border-top: 1px solid #dcdcdc;
}
.ui_tiles .ui_tile .ui_tile_cell.attached_icon_cell{
    position: absolute;
    right: 24px;
    top: 15px;
        transition: right;
    -webkit-transition: right;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}
.ui_tiles .ui_tile:hover .ui_tile_cell.attached_icon_cell
,.ui_tiles .ui_tile.current .ui_tile_cell.attached_icon_cell{
    right: 40px;
}
.ui_tiles .ui_tile .ui_tile_cell.num_of_res_cell{
    position: absolute;
    right: 34px;
    top: 35px;
        transition: right;
    -webkit-transition: right;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}
.ui_tiles .ui_tile:hover .ui_tile_cell.num_of_res_cell
,.ui_tiles .ui_tile.current .ui_tile_cell.num_of_res_cell{
    right: 40px;
}
.ui_tiles .ui_tile .ui_tile_cell.button_cell{
    position: absolute;
    right: 24px;
    top: 0;
        transition: right;
    -webkit-transition: right;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    height: 100%;
    width: 30px;
}
.ui_tiles .ui_tile:hover .ui_tile_cell.button_cell
,.ui_tiles .ui_tile.current .ui_tile_cell.button_cell{
    right: 40px;
}
.ui_tiles .ui_tile .ui_tile_cell.button_cell a{
    display: inline-block;
    height: auto;
    margin-bottom: 5px;
}
.ui_tiles .ui_tile .ui_tile_cell.button_cell a:last-child{
    margin-bottom: 0;
}
.ui_tiles .ui_tile.mine .ui_tile_content{
    background-color: #eee;
}
.expandable_cell{
    cursor: pointer;
}
.expandable_cell.open .hide_on_expanded
,.ui_tile.current .expandable_cell .hide_on_expanded{
    display: none;
}
.expandable_cell.open .hide_on_load
,.ui_tile.current .expandable_cell .hide_on_load{
    display: block;
 }
.ui_tile .show_more
, .ui_tile .show_less{
    font-size: 0.85em;
    float: right;
    color: #6ca7da;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
}
.ui_tile .show_more:after
,.ui_tile .show_less:after{
    content:"";
    display: inline-block;
    width: 0;
    height: 0;
    border:0.5em solid transparent;
    margin-left: 0.5em;
}
.ui_tile .show_more:after{
    border-top-color: #6ca7da;
    margin-bottom: -0.25em;
}
.ui_tile .show_less:after{
    border-bottom-color: #6ca7da;
    margin-top: -0.25em;
}
/***** Tile view : end ******/

/**************/
.load_more_btn{
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    cursor: pointer;
    margin: auto;
    text-align: center;
}

.reverse_scroll_list .load_more_btn
,.load_more_btn.prev_btn{
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/******************/
#user_bar{
    padding: 10px 0;
    position: absolute;
    right: 0;
    text-align: right;
}
#user_bar .notify_count{
    position: absolute;
    top: -1em;
    right: -0.5em;
    padding: 0.3em 0.5em;
    line-height: 1em;
    font-size: 1em;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 600;
}
#user_bar .user_name{
    color: #fff;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 0.2em;
    display: inline-block;
    line-height: 1em;
    /*margin-right: 1em;*/
}
/*#user_bar .user_email{
    color: #fff;
    font-size: 1em;
    display: block;
    line-height: 1em;
}*/
#user_bar .img_thumb{
    width: 24px;
    height: 24px;
    margin-left: -32px;
    margin-top: -4px;
}
#user_bar .avatar_placeholder{
    width: 24px;
    height: 24px;
    margin-right: 0.2em;
    margin-top: -4px;
    font-size: 24px;
}
#user_bar a{
    color: #fff;
}
#user_bar a:after{
    content: "|";
    color: #fff;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
#user_bar a:last-child:after{
    display: none;
}

/**GI Modal**/

/**Paragraphs**/
p.content_block,
a.content_block,
div.content_block{
    background: #fff;
    padding: 1em 1.2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    line-height: 1.5;
    min-height: 44px;
}
.content_block.block_with_right_btns{
    display: block!important;
    padding: 0.5em!important;
    width: 100%!important;
    background: #f1f1f1;
    margin-bottom: 0.5em;
    font-size: 1em;
    line-height: 1.7em;
}
p.content_block.message{
    font-weight: 700;
    margin-bottom: 2em;
}
.success p.content_block.message{
    background-color: #61d851;
    border: 2px solid #2CA01C;
    color: #fff;
}
.error p.content_block.message{
    background-color: #ff5858;
    border: 2px solid #ff2121;
    color: #fff;
}
.warning p.content_block.message{
    background-color: #ffd155;
    border: 2px solid #ffba00;
    color: #333;
}

div.content_block ul{
    list-style: none;
    margin-left: 0;
}

p.content_block .custom_btn,
.sml_text{
    font-size: 0.8em;
}

.med_text{
    font-size: 1.5em;
}

.lrg_text{
    position: relative;
    font-size: 3em;
}
.lrg_text.has_arrow:after{
    content: '\2192';
    display: block;
    position: absolute;
    font-size: 40px;
    color: #fff;
    left: -10px;
    top: 4px;
}
.lrg_text.has_arrow.left_arrow:after{
    content: '\2190';
}
.icon_size_text {
    font-size: 17px;
    font-weight: 700;
    line-height: 1em;
}
.content_block:after{
    display: block;
    content: '';
    clear: both;
}
.content_block_wrap{
    margin-bottom: 2em;
}

.content_block_subtitle{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.2em;
    color: #505050;
}

.list_block .content_block_wrap{
    margin: 0;
    padding: 0.5em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.list_block .content_block_wrap:before,
.list_block .content_block_wrap:after{
    content: normal; /** To fix Safari bug with flex-wrap **/
}

.content_block_wrap:last-child{
    margin-bottom: 0;
}

.list_block .content_block_title,
.list_block .content_block{
    display: inline-block;
    vertical-align: top;
    font-size: 1em;
    line-height: 1.2em;
    flex: 1;
}

.list_block .list_display_block{
    display: block;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.list_block .list_display_block .content_block_title,
.list_block .list_display_block .content_block{
    display: block;
}

.list_block .content_block_title{
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-right: 0.2em;
}

.list_block .content_block{
    padding: 0;
    background: none;
    color: #505050;
    font-weight: 400;
}

.list_block .addr_view{
    margin: 0;
}
.columns>.column>.addr_view{
    margin-top: 0;
}
.comma_delimtited .content_item{
    display: inline-block;
}
.comma_delimtited .content_item:after{
    display: inline-block;
    content: ',';
    margin-right: 0.2em;
}
.comma_delimtited .content_item:last-child:after{
    content: '';
    margin-right: 0;
}

/*********/
div.give_me_space{
    margin-bottom: 3.5em;
}

div.give_me_space:last-child{
    margin-bottom: 0;
}
ul.inline_blocks{
    list-style: none;
    margin-bottom: -0.5em;
}
ul.inline_blocks li{
    list-style: none;
    padding: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1.2em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}
ul.inline_blocks li.linked{
    padding: 0;
}
ul.inline_blocks li.linked a{
    display: block;
    padding: 0.8em;
}
/*************/
ul.simple_list{
    margin-bottom: 1em;
}

ul.simple_list li{
    margin-bottom: 0.5em;
    list-style: none;
    position: relative;
    padding-left: 0.75em;
}

ul.simple_list li:before{
    content: '\00b7';
    font-size: 1.5em;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
}

ul.simple_list:last-child,
ul.simple_list li:last-child{
    margin-bottom: 0;
}

ul.simple_list li a{
    display: block;
}
/*************/
table.inner_table td{
    border-left: none;
    border-right: none;
    padding: 0.5em;
}
.contact_info{
    margin-bottom: 2em;
    position: relative;
}

.contact_info_fields{
    position: relative;
    padding-right: 19px;
}

.contact_info:last-child{
    margin-bottom: 0em;
}

.contact_info .remove_contact_info{
    position: absolute;
    z-index: 100;
    top: -13px;
    right: 7px;
}

.force_one_contact_info .contact_info:first-child .contact_info_fields,
.contact_info.force_keep .contact_info_fields{
    padding-right: 0;
}

.force_one_contact_info .contact_info:first-child .remove_contact_info{
    display: none;
}

.contact_infos_wrap.address .contact_info .remove_contact_info{
/*    right: 9px;*/
}

.gi_modal .contact_infos_wrap{
    margin-bottom: 1em;
}

/*************/
.search_box{
    margin-bottom: 2em;
    display: none;
    border-bottom: 1px solid #a0a0a0;
    padding-bottom: 2em;
}
.search_box.show_box{
    display: block;
}
.search_box .search_field_group{
    margin-bottom: 2em;
}
.shadow_box_modal .search_box{
    background-color: transparent;
}
.search_box:last-child{
    margin-bottom: 0;
}
.basic_search_block{
    display: none;
}
.basic_search_block.open{
    display: block;
}
.gi_modal.shadow_box_modal .basic_search_block,
.gi_modal.shadow_box_modal .advanced_search_block.basic_width{
    max-width: 584px;
    margin: 0 auto;
}
.advanced_search_block{
    display: none;
}
.advanced_search_block.open{
    display: block;
}
.advanced_search_block .column{
    vertical-align: top;
}
.search_btns{
    margin-top: 1em;
    margin-bottom: 1em;
}
.search_btns .btn{
    margin-right: 1em;
}
.search_btns .btn:last-child{
    margin-right: 0;
}
.toggle_search_type_btn{
    background-color: #fff;
    border-color: #ccc;
    color: #A0A0A0;
}
.toggle_search_type_btn:hover{
    background-color: #808080;
}
.toggle_search_type_btn .icon{
    background-position-y: -52px;
}
.toggle_search_type_btn:hover .icon{
    background-position-y: -4px;
}
/************/
@keyframes movingdown {
    0% { transform: translateY(0); }
   50% { transform: translateY(25px); }
  100% { transform: translateY(50x); }
}

/*************/
#main_content{
    position: relative;
}
/***form.css**/
.options_wrap label .radio_box, .options_wrap label .checkbox_box{
    -webkit-box-shadow: none; 
    -moz-box-shadow: none;
     box-shadow: none; 
}
.submit_btn, .reset_btn, .browse_computer, .other_btn, input[type="button"]{
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    margin-right: 15px;
}
.btn{
   margin-right: 15px; 
}
.btn:last-child{
    margin-right: 0;
}
.submit_btn {
    background: #6ca7da;
    color: #fff;
    min-width: 150px;
    text-align: center;
}
.submit_btn .svg_icon svg *{
    fill: #fff;
}
.submit_btn:focus,
.submit_btn:hover{
    background: #3c6688;
}
.search_box .submit_btn{
    background: #2CA01C;
    border-color: #2CA01C;
    color: #fff;
    float:right;
    padding-left:3em;
    padding-right:3em;
}
.search_box .submit_btn:hover{
    background: #1c6612;
}
.form_footer{
    margin-top: 4em;
}
/***form.css : end**/
/** Tabs **/

/** Folders **/


/** PNG icons **/
/** PNG icons :end **/
/** SVG icons**/
.svg_icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.svg_icon.left_icon{
    margin-right: 10px;
}
.icon_btns .svg_icon.left_icon:last-child{
    margin-right: 0;
}
.svg_icon.right_icon{
    margin-left: 10px;
}
.icon_btns .svg_icon.right_icon:first-child{
    margin-left: 0;
}
.svg_icon svg{
    width: 100%;
    height: 100%;
}
.svg_icon svg *{
    fill:#6da4d8;
    transition: fill 0.1s;
    stroke-width: 0;
}
.svg_icon.stroke svg *{
    fill:none;
    stroke:#6da4d8;
}
.svg_icon svg .inner_path{
    fill:#fff;
}
.dark_bg .svg_icon svg *{
    fill:#fff;
}
.dark_bg .svg_icon.stroke svg *{
    stroke:#fff;
}
.dark_bg .svg_icon svg .inner_path{
    fill:#6da4d8;
}
/** Google Map **/
.google_map_wrap #google_map{
    height: 338px;
}
.google_map_wrap #google_map.error{
    height: auto;
    padding: 1em;
    background-color: rgba(94,94,94, 0.1);
}
/** Google Map:end **/
/** Footer **/
#footer_logo_col{
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}
#footer_contact_info_col{
    display: inline-block;
    width: 75%;
    vertical-align: middle;
}
#footer_logo{
    max-width: 140px;
}
#footer_contact_info_col .contact_info_block{
    display: inline-block;
    width: 33.33%;
    vertical-align: top;
}
.socialmedia_link{
    margin-right: 15px;
}
.socialmedia_link:last-child{
    margin-right: 0;
}
/** Footer: end **/
/** browser scrollbar styles**/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6ca7da;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6ca7da; 
}

/** FireFox **/
#content_wrap{
    scrollbar-width: thin;
    scrollbar-color: #6ca7da #f1f1f1;
}

/**IE :todo**/
/*body{
  scrollbar-base-color: #000;
  scrollbar-face-color: #000;
  scrollbar-3dlight-color: #000;
  scrollbar-highlight-color: #000;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #000;
  scrollbar-dark-shadow-color: #000;
}*/
/** browser scrollbar styles:end**/

/** Others **/

/** QnA **/
.ui_tiles .ui_tile.qna_type_directed .ui_tile_content{
    background-color: #a8bed2;
}
/** @todo: move to form.css or form.js**/
.hide_other_step_blocks .step_form_body_step{
    display: none;
}
.hide_other_step_blocks .step_form_body_step.current{
    display: block;
}
.form_body_wrap.step_1 .prev_btn{
    display: none;
}
.form_body_wrap.last_step .next_btn{
    display: none;
}
.form_body_wrap.show_submit_btn_only_last_step:not(.last_step) .step_form_footer .submit_btn{
    display: none;
}
.step_form_footer .btn{
    margin-right: 15px;
    cursor: pointer;
}
.step_form_footer .btn:last-child{
    margin-right: 0;
}
.step_form_footer .btn.submit_btn{
    /*background-color: #6ca7da;*/
    color: #fff;
    min-width: 150px;
    text-align: center;
}
.step_form_footer .btn.submit_btn .icon{
    background-position-y: -4px;
}
.slide_step_form  .step_form_body{
    visibility: hidden;
}
.slide_container_outer{
    overflow: hidden;
    position: relative;
}
.slide_container_outer .slide_container {
    position: relative;
    top: 0;
    left:100%;
    visibility: visible;
    transition: left;
    -webkit-transition: left;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}
.slide_container_outer .slide_container:after{
    content:"";
    display: table;
    clear:both;
}
.slide_container_outer .slide_container .slide{
    display: block;
    float: left;
    padding-top: 0.5em;
}
.slide_step_form .step_nav{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 1em;
}
.slide_step_form .step_nav ul {
    margin-left: 0;
}
.slide_step_form .step_nav .form_step{
    display: inline-block;
    padding: 1em 2em 1em 0;
    font-size: 1.2em;
    cursor: pointer;
}
.slide_step_form .step_nav .form_step.current{
    font-weight: 900;
    cursor: default;
}
.slide_container_outer .slide_container .slide .file_uploader .wrap_btns{
    display: inline-block;
    vertical-align: top;
}
.slide_container_outer .slide_container .slide .file_uploader .files_area{
    display: inline-block;
    vertical-align: top;
}
.hide_fieldset_legend legend{
    display: none;
}
.mid_height_textarea{
    height: 100px;
}
/** Youtube video **/
.embed-responsive-16by9 {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}
.youtube-player{
    width: 100%;
    /*max-width: 685px;*/
    display: block;
    position: relative;
    cursor: pointer;
    height: 0;
    padding-bottom: 56.25%;
    margin: 0 auto;
}
.embed-responsive-4by3 .youtube-player{
    padding-bottom: 75%;
}
.embed-responsive-16by9.iphone-landscape{
    padding-bottom: 51.6%;
}
.embed-responsive-4by3.video-66 .youtube-player{
    padding-bottom: 66%;
}
.embed-responsive-16by9.iphone-landscape .youtube-player{
    padding-bottom: 51.6%;
}
.youtube-player .video-btn {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -55px;
    margin-top: -50px;
    cursor: pointer;
}
.youtube-player .place-holder{
    width: 100%;
}
.youtube-player .place-holder img{
    width: 100%;
}
/** @todo: move to form.css end**/
/**ADMIN ONLY**/
.admin_only{
    display: none;
    position: absolute;
    z-index: 9999;
}
.admin_only .label, 
.admin_only .value{
    display: inline-block;
    vertical-align: baseline;
    font-size: 0.8em;
    color: #fff;
    background: rgba(0,0,0,0.8);
    padding: 0.2em 0.4em;
    line-height: 1.2em;
}
.admin_only .label{
    margin-left: 0.2em;
}
.admin_only .value{
    font-weight: 700;
}
/**DEVMODE**/
#dev_mode{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
    pointer-events: none;
}
#dev_mode:before {
    content: 'DEV MODE';
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
/**OTHER**/
.label_with_value{
    display: block;
    margin-bottom: 0.5em;
}
.label_with_value:last-child{
    margin-bottom: 0;
}
.label_with_value .label, 
.label_with_value .value{
    display: inline-block;
    vertical-align: baseline;
    line-height: 1.2em;
}
.label_with_value .label{
    margin-right: 0.3em;
}
.label_with_value .value{
    font-weight: 700;
}

#jump_list{
    position: fixed;
    top: 100px;
    left: 2em;
}
#jump_list ul,
#jump_list li{
    list-style: none;
    margin: 0;
}
#jump_list ul{
    width: 200px;
    background: #f0f0f0;
    border: 1px solid #ccc;
}
#jump_list li{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    transition: background;
    -webkit-transition: background;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}
#jump_list li:hover{
    background: rgba(255,255,255,0.2);
}
#jump_list li:first-child{
    border-top: none;
}
#jump_list li:last-child{
    border-bottom: none;
}
#jump_list li a{
    display: block;
    width: 100%;
    font-weight: 700;
    padding: 0.5em;
}

/****STICKY FOOTER****/
#content{
    min-height: calc(100vh - 85px - 8em - 143px - 338px);
}
/****CLOSABLE SECTION****/
.closable_section{
    position: relative;
    padding-right: 3em;
}
.close_section{
    position: absolute;
    top: 0.8em;
    right: 0;
    z-index: 100;
    cursor: pointer;
    font-size: 1em;
    width: 2.2em;
    height: 2.2em;
    text-align: center;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    border: 2px solid rgba(255,255,255,0.5);
    background: #6ca7da;
    transition: background;
    -webkit-transition: background;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}
.close_section:hover{
    background: #3c6688;
}
.close_section .svg_icon{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.5em;
    margin-top: -0.5em;
}
.close_section svg *{
    fill: #fff;
}
@media only screen and (min-width : 1199px){
    .container{
        width: 1197px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width : 1199px){
    #header,
    .view_wrap{
        width: 100% !important;
        padding: 0 1em;
    }
    #user_bar{
        right: 1em;
    }
}

@media only screen and (max-width : 1700px){

}

@media only screen and (max-width : 1050px){
    
}
@media only screen and (max-width : 960px){
    .flex_row.mobile_cols_to_rows{
        margin: auto;
        margin-bottom: 2em;
    }
    
    .flex_row.mobile_cols_to_rows .flex_col{
        flex: none;
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 2em;
    }
    
    .flex_row.mobile_cols_to_rows .flex_col:last-child{
        margin-bottom: 0 !important;
    }
    
    .gi_modal .flex_row.mobile_cols_to_rows,
    .gi_modal .flex_row.mobile_cols_to_rows .flex_col{
        margin-bottom: 1em;
    }
}
@media only screen and (max-width : 640px){
    
    .limit_mobile .flex_col:not(.keep),
    .limit_mobile td:not(.keep),
    .limit_mobile th:not(.keep){
        display: none;
    }
    .qb_bar{
        padding: 0;
    }
    .qb_logo{
        position: relative;
        bottom: auto;
    }
    .qb_bar .connect_btns{
        position: absolute;
        top: 0;
        right: 0;
    }
    .gi_modal.shadow_box_modal{
        width: 90%;
        margin-left: -45%;
        margin-top: 30px!important;
        top: 0!important;
    }
}
