.icon{
    background: url('images/standard_icons.png?v=2.6') no-repeat;
    background-size: 900px 196px;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    width: 13px;
    height: 13px;
    background-position: 13px 13px;
}

.icon.avatar, .icon.bos_avatar{
    width: 44px;
    height: 44px;
    background-position: -444px -4px;
}

.icon.bos_avatar{
    background-position: -396px -4px;
}

.icon.avatar.dark, .icon.bos_avatar.dark{
    background-position: -444px -52px;
}

.icon.bos_avatar.dark{
    background-position: -396px -52px;
}

/***********/

.icon.search{
    background-position: -4px -4px;
}

.icon.trash, .icon.delete{
    background-position: -21px -4px;
}

.icon.pencil, .icon.edit{
    background-position: -38px -4px;
}

.icon.plus, .icon.add{
    background-position: -55px -4px;
}

.icon.minus, .icon.subtract{
    background-position: -72px -4px;
}

.icon.check{
    background-position: -89px -4px;
}

.icon.copy{
    background-position: -106px -4px;
}

.icon.sort, .icon.reorder{
    background-position: -123px -4px;
}

.icon.print{
    background-position: -140px -4px;
}

.icon.swap{
    background-position: -157px -4px;
}

.icon.upload{
    background-position: -174px -4px;
}

.icon.download{
    background-position: -191px -4px;
}

.icon.eks, .icon.close, .icon.remove{
    background-position: -208px -4px;
}

.icon.money, .icon.payment{
    background-position: -225px -4px;
}

.icon.number, .icon.hash, .icon.count{
    background-position: -242px -4px;
}

.icon.close_sml, .icon.remove_sml{
    width: 9px;
    height: 9px;
    /*background-position: -259px -4px;*/
    background-position: -261px -6px;
}

.icon.contract, .icon.minimize{
    width: 20px;
    height: 20px;
    background-position: -276px -4px;
}

.icon.expand, .icon.maximize{
    width: 20px;
    height: 20px;
    background-position: -300px -4px;
}

.icon.menu{
    width: 20px;
    height: 20px;
    background-position: -324px -4px;
}

.icon.bos{
    width: 20px;
    height: 20px;
    background-position: -348px -4px;
}

.icon.gi{
    width: 20px;
    height: 20px;
    background-position: -372px -4px;
}

.icon.arrow_up{
    background-position: -492px -4px;
}

.icon.arrow_down{
    background-position: -509px -4px;
}

.icon.arrow_left{
    background-position: -526px -4px;
}

.icon.arrow_right{
    background-position: -543px -4px;
}

.icon.box, .icon.materials, .icon.material{
    background-position: -560px -4px;
}

.icon.truck, .icon.subcontractor, .icon.rental{
    background-position: -577px -4px;
}

.icon.worker, .icon.internal_labour{
    background-position: -594px -4px;
}

.icon.filter{
    background-position: -611px -4px;
}

.icon.time, .icon.clock{
    background-position: -628px -4px;
}

.icon.cards, .icon.credit{
    background-position: -645px -4px;
}

.icon.gear, .icon.settings{
    background-position: -662px -4px;
}

.icon.share{
    background-position: -679px -4px;
}

.icon.paperclip, .icon.attachment{
    background-position: -696px -4px;
}

.icon.link{
    background-position: -713px -4px;
}

.icon.void, .icon.cancel{
    background-position: -730px -4px;
}

.icon.locked, .lock_btn:hover .icon.unlocked{
    background-position: -747px -4px;
}

.icon.unlocked, .unlock_btn:hover .icon.locked{
    background-position: -764px -4px;
}

.icon.star, .icon.rate{
    background-position: -781px -4px;
}

.icon.flag, .icon.claim{
    background-position: -798px -4px;
}

.icon.calculate, .icon.calculator, .icon.recalculate{
    background-position: -815px -4px;
}

.icon.zip{
    background-position: -832px -4px;
}

.icon.email{
    background-position: -849px -4px;
}

.icon.visible, .icon.eye{
    background-position: -866px -4px;
}

.icon.hidden, .icon.invisible{
    background-position: -883px -4px;
}

/**Light Gray**/
.icon.light_gray.search{
    background-position: -4px -28px;
}

.icon.light_gray.trash, .icon.light_gray.delete{
    background-position: -21px -28px;
}

.icon.light_gray.pencil, .icon.light_gray.edit{
    background-position: -38px -28px;
}

.icon.light_gray.plus, .icon.light_gray.add{
    background-position: -55px -28px;
}

.icon.light_gray.minus, .icon.light_gray.subtract{
    background-position: -72px -28px;
}

.icon.light_gray.check{
    background-position: -89px -28px;
}

.icon.light_gray.copy{
    background-position: -106px -28px;
}

.icon.light_gray.sort, .icon.light_gray.reorder{
    background-position: -123px -28px;
}

.icon.light_gray.print{
    background-position: -140px -28px;
}

.icon.light_gray.swap{
    background-position: -157px -28px;
}

.icon.light_gray.upload{
    background-position: -174px -28px;
}

.icon.light_gray.download{
    background-position: -191px -28px;
}

.icon.light_gray.eks, .icon.light_gray.close, .icon.light_gray.remove{
    background-position: -208px -28px;
}

.icon.light_gray.money, .icon.light_gray.payment{
    background-position: -225px -28px;
}

.icon.light_gray.number, .icon.light_gray.hash, .icon.light_gray.count{
    background-position: -242px -28px;
}

.icon.light_gray.close_sml, .icon.light_gray.remove_sml{
    background-position: -261px -30px;
}

.icon.light_gray.contract, .icon.light_gray.minimize{
    background-position: -276px -28px;
}

.icon.light_gray.expand, .icon.light_gray.maximize{
    background-position: -300px -28px;
}

.icon.light_gray.menu{
    background-position: -324px -28px;
}

.icon.light_gray.bos{
    background-position: -348px -28px;
}

.icon.light_gray.gi{
    background-position: -372px -28px;
}

.icon.light_gray.arrow_up{
    background-position: -492px -28px;
}

.icon.light_gray.arrow_down{
    background-position: -509px -28px;
}

.icon.light_gray.arrow_left{
    background-position: -526px -28px;
}

.icon.light_gray.arrow_right{
    background-position: -543px -28px;
}

.icon.light_gray.box, .icon.light_gray.materials, .icon.light_gray.material{
    background-position: -560px -28px;
}

.icon.light_gray.truck, .icon.light_gray.subcontractor, .icon.light_gray.rental{
    background-position: -577px -28px;
}

.icon.light_gray.worker, .icon.light_gray.internal_labour{
    background-position: -594px -28px;
}

.icon.light_gray.filter{
    background-position: -611px -28px;
}

.icon.light_gray.time, .icon.light_gray.clock{
    background-position: -628px -28px;
}

.icon.light_gray.cards, .icon.light_gray.credit{
    background-position: -645px -28px;
}

.icon.light_gray.gear, .icon.light_gray.settings{
    background-position: -662px -28px;
}

.icon.light_gray.share{
    background-position: -679px -28px;
}

.icon.light_gray.paperclip, .icon.light_gray.attachment{
    background-position: -696px -28px;
}

.icon.light_gray.link{
    background-position: -713px -28px;
}

.icon.light_gray.void, .icon.light_gray.cancel{
    background-position: -730px -28px;
}

.icon.light_gray.locked, .lock_btn:hover .icon.light_gray.unlocked{
    background-position: -747px -28px;
}

.icon.light_gray.unlocked, .unlock_btn:hover .icon.light_gray.locked{
    background-position: -764px -28px;
}

.icon.light_gray.star, .icon.light_gray.rate{
    background-position: -781px -28px;
}

.icon.light_gray.flag, .icon.light_gray.claim{
    background-position: -798px -28px;
}

.icon.light_gray.calculate, .icon.light_gray.calculator, .icon.light_gray.recalculate{
    background-position: -815px -28px;
}

.icon.light_gray.zip{
    background-position: -832px -28px;
}

.icon.light_gray.email{
    background-position: -849px -28px;
}

.icon.light_gray.visible, .icon.light_gray.eye{
    background-position: -866px -28px;
}

.icon.light_gray.hidden, .icon.light_gray.invisible{
    background-position: -883px -28px;
}

/**Gray**/
.icon.gray.search{
    background-position: -4px -52px;
}

.icon.gray.trash, .icon.gray.delete{
    background-position: -21px -52px;
}

.icon.gray.pencil, .icon.gray.edit{
    background-position: -38px -52px;
}

.icon.gray.plus, .icon.gray.add{
    background-position: -55px -52px;
}

.icon.gray.minus, .icon.gray.subtract{
    background-position: -72px -52px;
}

.icon.gray.check{
    background-position: -89px -52px;
}

.icon.gray.copy{
    background-position: -106px -52px;
}

.icon.gray.sort, .icon.gray.reorder{
    background-position: -123px -52px;
}

.icon.gray.print{
    background-position: -140px -52px;
}

.icon.gray.swap{
    background-position: -157px -52px;
}

.icon.gray.upload{
    background-position: -174px -52px;
}

.icon.gray.download{
    background-position: -191px -52px;
}

.icon.gray.eks, .icon.gray.close, .icon.gray.remove{
    background-position: -208px -52px;
}

.icon.gray.money, .icon.gray.payment{
    background-position: -225px -52px;
}

.icon.gray.number, .icon.gray.hash, .icon.gray.count{
    background-position: -242px -52px;
}

.icon.gray.close_sml, .icon.gray.remove_sml{
    background-position: -261px -54px;
}

.icon.gray.contract, .icon.gray.minimize{
    background-position: -276px -52px;
}

.icon.gray.expand, .icon.gray.maximize{
    background-position: -300px -52px;
}

.icon.gray.menu{
    background-position: -324px -52px;
}

.icon.gray.bos{
    background-position: -348px -52px;
}

.icon.gray.gi{
    background-position: -372px -52px;
}

.icon.gray.arrow_up{
    background-position: -492px -52px;
}

.icon.gray.arrow_down{
    background-position: -509px -52px;
}

.icon.gray.arrow_left{
    background-position: -526px -52px;
}

.icon.gray.arrow_right{
    background-position: -543px -52px;
}

.icon.gray.box, .icon.gray.materials, .icon.gray.material{
    background-position: -560px -52px;
}

.icon.gray.truck, .icon.gray.subcontractor, .icon.gray.rental{
    background-position: -577px -52px;
}

.icon.gray.worker, .icon.gray.internal_labour{
    background-position: -594px -52px;
}

.icon.gray.filter{
    background-position: -611px -52px;
}

.icon.gray.time, .icon.gray.clock{
    background-position: -628px -52px;
}

.icon.gray.cards, .icon.gray.credit{
    background-position: -645px -52px;
}

.icon.gray.gear, .icon.gray.settings{
    background-position: -662px -52px;
}

.icon.gray.share{
    background-position: -679px -52px;
}

.icon.gray.paperclip, .icon.gray.attachment{
    background-position: -696px -52px;
}

.icon.gray.link{
    background-position: -713px -52px;
}

.icon.gray.void, .icon.gray.cancel{
    background-position: -730px -52px;
}

.icon.gray.locked, .lock_btn:hover .icon.gray.unlocked{
    background-position: -747px -52px;
}

.icon.gray.unlocked, .unlock_btn:hover .icon.gray.locked{
    background-position: -764px -52px;
}

.icon.gray.star, .icon.gray.rate{
    background-position: -781px -52px;
}

.icon.gray.flag, .icon.gray.claim{
    background-position: -798px -52px;
}

.icon.gray.calculate, .icon.gray.calculator, .icon.gray.recalculate{
    background-position: -815px -52px;
}

.icon.gray.zip{
    background-position: -832px -52px;
}

.icon.gray.email{
    background-position: -849px -52px;
}

.icon.gray.visible, .icon.gray.eye{
    background-position: -866px -52px;
}

.icon.gray.hidden, .icon.gray.invisible{
    background-position: -883px -52px;
}

/**Dark Gray**/
.icon.dark_gray.search{
    background-position: -4px -76px;
}

.icon.dark_gray.trash, .icon.dark_gray.delete{
    background-position: -21px -76px;
}

.icon.dark_gray.pencil, .icon.dark_gray.edit{
    background-position: -38px -76px;
}

.icon.dark_gray.plus, .icon.dark_gray.add{
    background-position: -55px -76px;
}

.icon.dark_gray.minus, .icon.dark_gray.subtract{
    background-position: -72px -76px;
}

.icon.dark_gray.check{
    background-position: -89px -76px;
}

.icon.dark_gray.copy{
    background-position: -106px -76px;
}

.icon.dark_gray.sort, .icon.dark_gray.reorder{
    background-position: -123px -76px;
}

.icon.dark_gray.print{
    background-position: -140px -76px;
}

.icon.dark_gray.swap{
    background-position: -157px -76px;
}

.icon.dark_gray.upload{
    background-position: -174px -76px;
}

.icon.dark_gray.download{
    background-position: -191px -76px;
}

.icon.dark_gray.eks, .icon.dark_gray.close, .icon.dark_gray.remove{
    background-position: -208px -76px;
}

.icon.dark_gray.money, .icon.dark_gray.payment{
    background-position: -225px -76px;
}

.icon.dark_gray.number, .icon.dark_gray.hash, .icon.dark_gray.count{
    background-position: -242px -76px;
}

.icon.dark_gray.close_sml, .icon.dark_gray.remove_sml{
    background-position: -261px -78px;
}

.icon.dark_gray.contract, .icon.dark_gray.minimize{
    background-position: -276px -76px;
}

.icon.dark_gray.expand, .icon.dark_gray.maximize{
    background-position: -300px -76px;
}

.icon.dark_gray.menu{
    background-position: -324px -76px;
}

.icon.dark_gray.bos{
    background-position: -348px -76px;
}

.icon.dark_gray.gi{
    background-position: -372px -76px;
}

.icon.dark_gray.arrow_up{
    background-position: -492px -76px;
}

.icon.dark_gray.arrow_down{
    background-position: -509px -76px;
}

.icon.dark_gray.arrow_left{
    background-position: -526px -76px;
}

.icon.dark_gray.arrow_right{
    background-position: -543px -76px;
}

.icon.dark_gray.box, .icon.dark_gray.materials, .icon.dark_gray.material{
    background-position: -560px -76px;
}

.icon.dark_gray.truck, .icon.dark_gray.subcontractor, .icon.dark_gray.rental{
    background-position: -577px -76px;
}

.icon.dark_gray.worker, .icon.dark_gray.internal_labour{
    background-position: -594px -76px;
}

.icon.dark_gray.filter{
    background-position: -611px -76px;
}

.icon.dark_gray.time, .icon.dark_gray.clock{
    background-position: -628px -76px;
}

.icon.dark_gray.cards, .icon.dark_gray.credit{
    background-position: -645px -76px;
}

.icon.dark_gray.gear, .icon.dark_gray.settings{
    background-position: -662px -76px;
}

.icon.dark_gray.share{
    background-position: -679px -76px;
}

.icon.dark_gray.paperclip, .icon.dark_gray.attachment{
    background-position: -696px -76px;
}

.icon.dark_gray.link{
    background-position: -713px -76px;
}

.icon.dark_gray.void, .icon.dark_gray.cancel{
    background-position: -730px -76px;
}

.icon.dark_gray.locked, .lock_btn:hover .icon.dark_gray.unlocked{
    background-position: -747px -76px;
}

.icon.dark_gray.unlocked, .unlock_btn:hover .icon.dark_gray.locked{
    background-position: -764px -76px;
}

.icon.dark_gray.star, .icon.dark_gray.rate{
    background-position: -781px -76px;
}

.icon.dark_gray.flag, .icon.dark_gray.claim{
    background-position: -798px -76px;
}

.icon.dark_gray.calculate, .icon.dark_gray.calculator, .icon.dark_gray.recalculate{
    background-position: -815px -76px;
}

.icon.dark_gray.zip{
    background-position: -832px -76px;
}

.icon.dark_gray.email{
    background-position: -849px -76px;
}

.icon.dark_gray.visible, .icon.dark_gray.eye{
    background-position: -866px -76px;
}

.icon.dark_gray.hidden, .icon.dark_gray.invisible{
    background-position: -883px -76px;
}

/**Black**/
.icon.black.search{
    background-position: -4px -100px;
}

.icon.black.trash, .icon.black.delete{
    background-position: -21px -100px;
}

.icon.black.pencil, .icon.black.edit{
    background-position: -38px -100px;
}

.icon.black.plus, .icon.black.add{
    background-position: -55px -100px;
}

.icon.black.minus, .icon.black.subtract{
    background-position: -72px -100px;
}

.icon.black.check{
    background-position: -89px -100px;
}

.icon.black.copy{
    background-position: -106px -100px;
}

.icon.black.sort, .icon.black.reorder{
    background-position: -123px -100px;
}

.icon.black.print{
    background-position: -140px -100px;
}

.icon.black.swap{
    background-position: -157px -100px;
}

.icon.black.upload{
    background-position: -174px -100px;
}

.icon.black.download{
    background-position: -191px -100px;
}

.icon.black.eks, .icon.black.close, .icon.black.remove{
    background-position: -208px -100px;
}

.icon.black.money, .icon.black.payment{
    background-position: -225px -100px;
}

.icon.black.number, .icon.black.hash, .icon.black.count{
    background-position: -242px -100px;
}

.icon.black.close_sml, .icon.black.remove_sml{
    background-position: -261px -102px;
}

.icon.black.contract, .icon.black.minimize{
    background-position: -276px -100px;
}

.icon.black.expand, .icon.black.maximize{
    background-position: -300px -100px;
}

.icon.black.menu{
    background-position: -324px -100px;
}

.icon.black.bos{
    background-position: -348px -100px;
}

.icon.black.gi{
    background-position: -372px -100px;
}

.icon.black.arrow_up{
    background-position: -492px -100px;
}

.icon.black.arrow_down{
    background-position: -509px -100px;
}

.icon.black.arrow_left{
    background-position: -526px -100px;
}

.icon.black.arrow_right{
    background-position: -543px -100px;
}

.icon.black.box, .icon.black.materials, .icon.black.material{
    background-position: -560px -100px;
}

.icon.black.truck, .icon.black.subcontractor, .icon.black.rental{
    background-position: -577px -100px;
}

.icon.black.worker, .icon.black.internal_labour{
    background-position: -594px -100px;
}

.icon.black.filter{
    background-position: -611px -100px;
}

.icon.black.time, .icon.black.clock{
    background-position: -628px -100px;
}

.icon.black.cards, .icon.black.credit{
    background-position: -645px -100px;
}

.icon.black.gear, .icon.black.settings{
    background-position: -662px -100px;
}

.icon.black.share{
    background-position: -679px -100px;
}

.icon.black.paperclip, .icon.black.attachment{
    background-position: -696px -100px;
}

.icon.black.link{
    background-position: -713px -100px;
}

.icon.black.void, .icon.black.cancel{
    background-position: -730px -100px;
}

.icon.black.locked, .lock_btn:hover .icon.black.unlocked{
    background-position: -747px -100px;
}

.icon.black.unlocked, .unlock_btn:hover .icon.black.locked{
    background-position: -764px -100px;
}

.icon.black.star, .icon.black.rate{
    background-position: -781px -100px;
}

.icon.black.flag, .icon.black.claim{
    background-position: -798px -100px;
}

.icon.black.calculate, .icon.black.calculator, .icon.black.recalculate{
    background-position: -815px -100px;
}

.icon.black.zip{
    background-position: -832px -100px;
}

.icon.black.email{
    background-position: -849px -100px;
}

.icon.black.visible, .icon.black.eye{
    background-position: -866px -100px;
}

.icon.black.hidden, .icon.black.invisible{
    background-position: -883px -100px;
}

/**Primary**/
.icon.primary.search{
    background-position: -4px -124px;
}

.icon.primary.trash, .icon.primary.delete{
    background-position: -21px -124px;
}

.icon.primary.pencil, .icon.primary.edit{
    background-position: -38px -124px;
}

.icon.primary.plus, .icon.primary.add{
    background-position: -55px -124px;
}

.icon.primary.minus, .icon.primary.subtract{
    background-position: -72px -124px;
}

.icon.primary.check{
    background-position: -89px -124px;
}

.icon.primary.copy{
    background-position: -106px -124px;
}

.icon.primary.sort, .icon.primary.reorder{
    background-position: -123px -124px;
}

.icon.primary.print{
    background-position: -140px -124px;
}

.icon.primary.swap{
    background-position: -157px -124px;
}

.icon.primary.upload{
    background-position: -174px -124px;
}

.icon.primary.download{
    background-position: -191px -124px;
}

.icon.primary.eks, .icon.primary.close, .icon.primary.remove{
    background-position: -208px -124px;
}

.icon.primary.money, .icon.primary.payment{
    background-position: -225px -124px;
}

.icon.primary.number, .icon.primary.hash, .icon.primary.count{
    background-position: -242px -124px;
}

.icon.primary.close_sml, .icon.primary.remove_sml{
    background-position: -261px -126px;
}

.icon.primary.contract, .icon.primary.minimize{
    background-position: -276px -124px;
}

.icon.primary.expand, .icon.primary.maximize{
    background-position: -300px -124px;
}

.icon.primary.menu{
    background-position: -324px -124px;
}

.icon.primary.bos{
    background-position: -348px -124px;
}

.icon.primary.gi{
    background-position: -372px -124px;
}

.icon.primary.arrow_up{
    background-position: -492px -124px;
}

.icon.primary.arrow_down{
    background-position: -509px -124px;
}

.icon.primary.arrow_left{
    background-position: -526px -124px;
}

.icon.primary.arrow_right{
    background-position: -543px -124px;
}

.icon.primary.box, .icon.primary.materials, .icon.primary.material{
    background-position: -560px -124px;
}

.icon.primary.truck, .icon.primary.subcontractor, .icon.primary.rental{
    background-position: -577px -124px;
}

.icon.primary.worker, .icon.primary.internal_labour{
    background-position: -594px -124px;
}

.icon.primary.filter{
    background-position: -611px -124px;
}

.icon.primary.time, .icon.primary.clock{
    background-position: -628px -124px;
}

.icon.primary.cards, .icon.primary.credit{
    background-position: -645px -124px;
}

.icon.primary.gear, .icon.primary.settings{
    background-position: -662px -124px;
}

.icon.primary.share{
    background-position: -679px -124px;
}

.icon.primary.paperclip, .icon.primary.attachment{
    background-position: -696px -124px;
}

.icon.primary.link{
    background-position: -713px -124px;
}

.icon.primary.void, .icon.primary.cancel{
    background-position: -730px -124px;
}

.icon.primary.locked, .lock_btn:hover .icon.primary.unlocked{
    background-position: -747px -124px;
}

.icon.primary.unlocked, .unlock_btn:hover .icon.primary.locked{
    background-position: -764px -124px;
}

.icon.primary.star, .icon.primary.rate{
    background-position: -781px -124px;
}

.icon.primary.flag, .icon.primary.claim{
    background-position: -798px -124px;
}

.icon.primary.calculate, .icon.primary.calculator, .icon.primary.recalculate{
    background-position: -815px -124px;
}

.icon.primary.zip{
    background-position: -832px -124px;
}

.icon.primary.email{
    background-position: -849px -124px;
}

.icon.primary.visible, .icon.primary.eye{
    background-position: -866px -124px;
}

.icon.primary.hidden, .icon.primary.invisible{
    background-position: -883px -124px;
}

/**RED**/
.icon.red.search{
    background-position: -4px -148px;
}

.icon.red.trash, .icon.red.delete{
    background-position: -21px -148px;
}

.icon.red.pencil, .icon.red.edit{
    background-position: -38px -148px;
}

.icon.red.plus, .icon.red.add{
    background-position: -55px -148px;
}

.icon.red.minus, .icon.red.subtract{
    background-position: -72px -148px;
}

.icon.red.check{
    background-position: -89px -148px;
}

.icon.red.copy{
    background-position: -106px -148px;
}

.icon.red.sort, .icon.red.reorder{
    background-position: -123px -148px;
}

.icon.red.print{
    background-position: -140px -148px;
}

.icon.red.swap{
    background-position: -157px -148px;
}

.icon.red.upload{
    background-position: -174px -148px;
}

.icon.red.download{
    background-position: -191px -148px;
}

.icon.red.eks, .icon.red.close, .icon.red.remove{
    background-position: -208px -148px;
}

.icon.red.money, .icon.red.payment{
    background-position: -225px -148px;
}

.icon.red.number, .icon.red.hash, .icon.red.count{
    background-position: -242px -148px;
}

.icon.red.close_sml, .icon.red.remove_sml{
    background-position: -261px -150px;
}

.icon.red.contract, .icon.red.minimize{
    background-position: -276px -148px;
}

.icon.red.expand, .icon.red.maximize{
    background-position: -300px -148px;
}

.icon.red.menu{
    background-position: -324px -148px;
}

.icon.red.bos{
    background-position: -348px -148px;
}

.icon.red.gi{
    background-position: -372px -148px;
}

.icon.red.arrow_up{
    background-position: -492px -148px;
}

.icon.red.arrow_down{
    background-position: -509px -148px;
}

.icon.red.arrow_left{
    background-position: -526px -148px;
}

.icon.red.arrow_right{
    background-position: -543px -148px;
}

.icon.red.box, .icon.red.materials, .icon.red.material{
    background-position: -560px -148px;
}

.icon.red.truck, .icon.red.subcontractor, .icon.red.rental{
    background-position: -577px -148px;
}

.icon.red.worker, .icon.red.internal_labour{
    background-position: -594px -148px;
}

.icon.red.filter{
    background-position: -611px -148px;
}

.icon.red.time, .icon.red.clock{
    background-position: -628px -148px;
}

.icon.red.cards, .icon.red.credit{
    background-position: -645px -148px;
}

.icon.red.gear, .icon.red.settings{
    background-position: -662px -148px;
}

.icon.red.share{
    background-position: -679px -148px;
}

.icon.red.paperclip, .icon.red.attachment{
    background-position: -696px -148px;
}

.icon.red.link{
    background-position: -713px -148px;
}

.icon.red.void, .icon.red.cancel{
    background-position: -730px -148px;
}

.icon.red.locked, .lock_btn:hover .icon.red.unlocked{
    background-position: -747px -148px;
}

.icon.red.unlocked, .unlock_btn:hover .icon.red.locked{
    background-position: -764px -148px;
}

.icon.red.star, .icon.red.rate{
    background-position: -781px -148px;
}

.icon.red.flag, .icon.red.claim{
    background-position: -798px -148px;
}

.icon.red.calculate, .icon.red.calculator, .icon.red.recalculate{
    background-position: -815px -148px;
}

.icon.red.zip{
    background-position: -832px -148px;
}

.icon.red.email{
    background-position: -849px -148px;
}

.icon.red.visible, .icon.red.eye{
    background-position: -866px -148px;
}

.icon.red.hidden, .icon.red.invisible{
    background-position: -883px -148px;
}

/**GREEN**/
.icon.green.search{
    background-position: -4px -172px;
}

.icon.green.trash, .icon.green.delete{
    background-position: -21px -172px;
}

.icon.green.pencil, .icon.green.edit{
    background-position: -38px -172px;
}

.icon.green.plus, .icon.green.add{
    background-position: -55px -172px;
}

.icon.green.minus, .icon.green.subtract{
    background-position: -72px -172px;
}

.icon.green.check{
    background-position: -89px -172px;
}

.icon.green.copy{
    background-position: -106px -172px;
}

.icon.green.sort, .icon.green.reorder{
    background-position: -123px -172px;
}

.icon.green.print{
    background-position: -140px -172px;
}

.icon.green.swap{
    background-position: -157px -172px;
}

.icon.green.upload{
    background-position: -174px -172px;
}

.icon.green.download{
    background-position: -191px -172px;
}

.icon.green.eks, .icon.green.close, .icon.green.remove{
    background-position: -208px -172px;
}

.icon.green.money, .icon.green.payment{
    background-position: -225px -172px;
}

.icon.green.number, .icon.green.hash, .icon.green.count{
    background-position: -242px -172px;
}

.icon.green.close_sml, .icon.green.remove_sml{
    background-position: -261px -174px;
}

.icon.green.contract, .icon.green.minimize{
    background-position: -276px -172px;
}

.icon.green.expand, .icon.green.maximize{
    background-position: -300px -172px;
}

.icon.green.menu{
    background-position: -324px -172px;
}

.icon.green.bos{
    background-position: -348px -172px;
}

.icon.green.gi{
    background-position: -372px -172px;
}

.icon.green.arrow_up{
    background-position: -492px -172px;
}

.icon.green.arrow_down{
    background-position: -509px -172px;
}

.icon.green.arrow_left{
    background-position: -526px -172px;
}

.icon.green.arrow_right{
    background-position: -543px -172px;
}

.icon.green.box, .icon.green.materials, .icon.green.material{
    background-position: -560px -172px;
}

.icon.green.truck, .icon.green.subcontractor, .icon.green.rental{
    background-position: -577px -172px;
}

.icon.green.worker, .icon.green.internal_labour{
    background-position: -594px -172px;
}

.icon.green.filter{
    background-position: -611px -172px;
}

.icon.green.time, .icon.green.clock{
    background-position: -628px -172px;
}

.icon.green.cards, .icon.green.cgreenit{
    background-position: -645px -172px;
}

.icon.green.gear, .icon.green.settings{
    background-position: -662px -172px;
}

.icon.green.share{
    background-position: -679px -172px;
}

.icon.green.paperclip, .icon.green.attachment{
    background-position: -696px -172px;
}

.icon.green.link{
    background-position: -713px -172px;
}

.icon.green.void, .icon.green.cancel{
    background-position: -730px -172px;
}

.icon.green.locked, .lock_btn:hover .icon.green.unlocked{
    background-position: -747px -172px;
}

.icon.green.unlocked, .unlock_btn:hover .icon.green.locked{
    background-position: -764px -172px;
}

.icon.green.star, .icon.green.rate{
    background-position: -781px -172px;
}

.icon.green.flag, .icon.green.claim{
    background-position: -798px -172px;
}

.icon.green.calculate, .icon.green.calculator, .icon.green.recalculate{
    background-position: -815px -172px;
}

.icon.green.zip{
    background-position: -832px -172px;
}

.icon.green.email{
    background-position: -849px -172px;
}

.icon.green.visible, .icon.green.eye{
    background-position: -866px -172px;
}

.icon.green.hidden, .icon.green.invisible{
    background-position: -883px -172px;
}

@media only screen and (max-device-width: 960px) {
    .icon{
        background-image: url('images/standard_icons_x2.png?v=2.6');
    }
}
