*{
    font-family: 'Open Sans', sans-serif !important;
}
h1, h2 {
    color: #6ca7da;
}
.advanced_title{
    text-transform: uppercase;
    color: #6ca7da;
    font-weight: 600;
}
/** tab.css **/
.tabs_wrap{
    background: #fff;
}
.tab > .tab_label{
    cursor: pointer;
}
.tab_labels {
    border-right: 1px solid #808080;
}
.tab_label_text{
    font-weight: 800;
}
.tab.current > .tab_label, .tab_label.current{
    color: #6ca7da;
    background: #fff;
}
.tabs_wrap.side_labels .tab_labels .tab_label {
    border-bottom: 1px solid #808080;
}
.tabs_wrap.side_labels .tab_labels .tab_label.current:before{
    border-right: 1px solid #f0f0f0;
}

@media only screen and (max-width : 1300px){
    
}

@media only screen and (max-device-width: 960px) {
    
}

@media only screen and (max-width : 1050px){
    
}

@media only screen and (max-width : 960px){

}
@media only screen and (max-width : 640px){
    
}
